/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Tables
# Products
# Single Product
# Checkout
# Components
# Widgets
# WooCommerce Page
# Side Cart
--------------------------------------------------------------*/
/**
 * Imports
 */
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/**
 * WooCommerce color variables
 */
$woocommerce__color-error: #e2401c;
$woocommerce__color-success: #0f834d;
$woocommerce__color-info: #3D9CD2;

/*
# Tables
 */
@import "shop/tables";

/*
# Products
 */
@import "shop/products";

/*
# Single Product
 */
@import "shop/single-product";

/*
# Checkout
 */
@import "shop/checkout";

/*
# Components
 */
@import "shop/components";

/*
# Widgets
 */
@import "shop/widgets";

/*
# WooCommerce Page
 */
@import "shop/woocommerce-pages";

/*
# WooCommerce myaccount page
 */
@import "shop/myaccount";

/*
# Side Cart
 */
@import "shop/side-cart";