a.btn.btn-primary,
a.wonka-btn,
button:not(.menu-toggle),
input[type="button"],
input[type="reset"],
input[type="submit"] {
	text-transform: uppercase;
	color: rgba(0, 0, 0, .8);
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	background: rgba( #fff, .3 );
	@include prefix( transition, $trans_25, webkit moz o);


	&:visited {
		color: rgba(0, 0, 0, .8);
	}

	&:hover {
		background: #FFE6B2;
		color: rgba(255, 255, 255, .8);
		@include prefix( text-shadow, 1px 1px 3px rgba(#000, .9 ), o moz webkit );
	}

	&:active,
	&:focus {
		outline: 0;
	}
}

a.wonka-btn,
button.wonka-btn,
input[type="button"].wonka-btn,
input[type="reset"].wonka-btn,
input[type="submit"].wonka-btn {
	padding: .5rem 1rem;
	text-align: center;
	border-radius: 100px;
	background: rgba( #fff, .3 );
    border: 3px solid #FFE6B2;
    @include font-size( 1 );
    @include prefix( box-shadow, $box_shadow_4, o moz webkit );
    @include prefix( text-shadow, 1px 1px 3px rgba(#000, 0 ), o moz webkit );

    &:hover {
    	border: 3px solid #FFE6B2;
    }
}


.search-form {

	input[type="submit"] {
		margin-left: -5px;
	}
}

#searchform {

	input#s {
		border-radius: 100px 100px 0 0;

		&::placeholder {
			font-style: italic;
		}
	}

	button.wonka-btn {
		height: 49px;
		border-radius: 0 0 100px 100px;
	}

	@include media-breakpoint-up( md ) {

		input#s {
			border-radius: 100px 0 0 100px;
		}

		button.wonka-btn {
			border-radius: 0 100px 100px 0;
		}
	}
}