a.button.wc-forward,
a.button.wc-backward,
a.restore-item,
a.showlogin,
a.xoo-wsc-ft-btn,
a.btn.btn-primary,
a.wonka-btn,
button.woocommerce-Button,
button:not(.menu-toggle),
input[type="button"],
input[type="reset"],
input[type="submit"] {
	text-transform: uppercase;
	color: rgba(0, 0, 0, .8);
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	background: rgba( #777, .3 );
	@include prefix( transition, $trans_25, webkit moz o);


	&:visited {
		color: rgba(0, 0, 0, .8);
	}

	&:hover {
		background: #777;
		color: rgba(255, 255, 255, .8);
	}

	&:active,
	&:focus {
		outline: 0;
	}
}

a.button.wc-forward,
a.button.wc-backward,
a.restore-item,
a.showlogin,
a.xoo-wsc-ft-btn,
a.wonka-btn,
button.woocommerce-Button,
button.wonka-btn,
input[type="button"].wonka-btn,
input[type="reset"].wonka-btn,
input[type="submit"].wonka-btn {
	padding: .5rem 1rem;
	text-align: center;
	border-radius: 100px;
	background: rgba( #777, .3 );
    border: 3px solid #777;
    @include font-size( 1 );
    @include prefix( box-shadow, $box_shadow_4, o moz webkit );

    &:hover {
    	border: 3px solid #777;
    	background: #777;
		color: rgba(255, 255, 255, .8);
    }

    &:active,
    &:focus {
    	outline: 0;
    	@include prefix( box-shadow, $box_shadow_4, o moz webkit );
    }
}


.search-form {

	input[type="submit"] {
		margin-left: -5px;
	}
}

button.slick-arrow {
	background: transparent;
	border-radius: 50%;
	@include prefix( text-shadow, 1px 1px 3px rgba(#000, .9 ), o moz webkit );
}

a.showlogin {
	padding: 4px 8px;
	@include font-size( .8 );
}