input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 2px;
	padding: 8px;
	line-height: 1.2;
	width: 100%;

	&:focus {
		color: $color__text-input-focus;
	}
}

textarea {
	width: 100%;
}

// Validation in ZIP and Ambassador
.elementor-page-8062,
.elementor-page-8245 {
	.validation_error,
	.validation_message {
		font-size: 15px;
		color:#dc3545;
	}
	input[aria-invalid="true"] {
		border-color: #dc3545;
		box-shadow: 0 0 5px rgba(226,64,28,.6);
	}
	.validation_error {
		padding-bottom: 10px;
	}
}

input.input-text.is-invalid {
	@include prefix( box-shadow, 0px 0px 5px rgba(#e2401c, .6 ), o moz webkit );
}

div.form-inline {
	align-items: stretch;
	justify-content: flex-start;
	flex-flow: row;
	flex-wrap: wrap;
	max-width: 100%;

	input {

		&:focus {
			@include prefix( box-shadow, 0 1px 6px 0 rgba( #52abf6, .7 ), webkit moz o);
		}
	}
}

.gform_validation_container {
    display: none;
}

.woocommerce-page #main.main-my-account div.col-12 {
	p,
	label {
		margin: 7px 0;
	}
}