@import "buttons";

@import "fields";

form.cart {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	div.quantity {
		width: 75px;

		input[type=number] {
			padding-right: 3px;
		}

	}

	button.wonka-btn {
		margin-left: -5px;
	}
}