/**
 * Checkout
 */

 main.main-cart,
 main.main-checkout {

 	.wonka-row.checkout-breadcrumb {
 		margin: 15px auto 0;
 	}

 	.wonka-btn {
 		padding: 2px 8px;
 	}

 	form.checkout_redeeming {
 		height: 0;
 		overflow: hidden;
		@include transition( all .25s ease-in-out );

		&.show {
 			height: 42px;
		}
 	}

 	.fp_apply_reward {

 		.input-group {
 			position: relative;
 			display: grid;
 			align-items: center;
 			justify-content: start;
 			grid-auto-flow: column;
 			@include transition( all .25s ease-in-out );

 			input {
 				height: 40px;
 				@include transition( all .25s ease-in-out );

 				&#rs_apply_coupon_code_field {
 					width: 210px;
 					border-radius: 100px 0 0 100px;
 				}

 				&.wonka-btn {
 					border-radius: 0 100px 100px 0;
 				}
 			}
 		}
 	}
 }

 .woocommerce-checkout p.woocommerce-invalid-required-field {
 	color: #e2401c;

 	span.woocommerce-input-wrapper {

 		input.input-text {
 			border: #e2401c 1px solid;
 			@include prefix( box-shadow, 0px 0px 5px rgba(#e2401c, .6 ), o moz webkit );

 		}
 	}

 	span.error {
 		display: inline-block!important;
 	}

 }

 .wc_payment_method {
 	display: flex;
 	align-items: center;
 	justify-content: flex-start;
 	flex-wrap: wrap;

 	label {
 		width: 90%;

 		a {
 			margin-left: 8px;
 		}
 	}
 }

 .free-shipping-disclosure {
     text-align: center;
     padding: 0 15px 15px;
 }

 .woocommerce-form-login-toggle {
 	margin-bottom: 15px;
 }

 #customer_details {
 	margin-top: 0;
 }

 .payment_box.payment_method_cybersource {

 	.form-control {
 		margin-bottom: 8px;
 	}
 }

 .woocommerce-shipping-fields__field-wrapper,
 .woocommerce-billing-fields__field-wrapper {
 	max-width: 100%;

 	div {
 		clear: both;
 	}

 	div#shipping_first_name_field,
 	div#billing_first_name_field {
 		width: 49%;
 		float: left;
 		clear: none;
 	}

 	div#shipping_last_name_field,
 	div#billing_last_name_field {
 		width: 49%;
 		float: right;
 		clear: none;
 	}

 	div#shipping_city_field,
 	div#billing_city_field {
 		width: 48%;
 		float: left;
 		clear: none;
 	}

 	div#shipping_state_field,
 	div#billing_state_field {
 		width: 24%;
 		margin-left: 15px;
 		float: left;
 		clear: none;

 		span.select2.select2-container.select2-container--default {

 			span.select2-selection--single {
 				height: 37px;

 				span.select2-selection__rendered {
 					padding: 8px;
 					line-height: 1.2;
 				}

 				span.select2-selection__arrow {
 					height: 10px;
 				}
 			} 
 		}

 		select.state_select {
 			padding: 0px;
 			min-width: 0px;
 			border-radius: 2px;
 			font-size: 1rem;
 			line-height: 1.5;
 		}
 	}

 	div#shipping_postcode_field,
 	div#billing_postcode_field {
 		width: 24%;
 		float: right;
 		clear: none;
 	}

 }

 div#shipping_email_field {
 	margin-bottom: 4px;
 }

 div.wonka-newletter-form-check {
 	margin-bottom: 15px;
 	@include font-size( .8 );
 }

 div#billing_email_field {
 	margin-bottom: 8px;
 }

 div.woocommerce-additional-fields {
 	clear: both;
 }

 label.checkbox {
 	margin: 15px;
 	width: 100%;
 }

 div.checkout-order-details {
 	padding: 0px 15px;
 	background: $color__background_alt;

 	tr.cart_item:first-child {

 		td {
 			border: none;
 		}
 	}

 	td.product-thumbnail {
 		position: relative;

 		.wonka-badge {
 			position: absolute;
 			display: flex;
 			align-items: center;
 			justify-content: center;
 			top: 5px;
 			right: 5px;
 			width: 22px;
 			height: 22px;
 			background: #fff;
 			border-radius: 50%;
 			@include font-size( 1 );
 			font-weight: 500;
 			border: 1px solid rgba( #000, .4 );
 			font-family: 'Open Sans';
 			@include box-shadow( 0 1px 3px 0 rgba( 0,0,0,.7) );
 		}

 		.remove.wonka-badge {
 			left: 5px;
 			color: #fb4949;
 			@include font-size( 1.2 );
 			font-weight: 800;
 			border: 1px solid rgba( #fb4949, 1);
 		}
 	}

 	td.product-name {
 		@include font-size( .8 );
 	}

 	.cart-subtotal,
 	.fee,
 	.tax-rate,
 	.order-total {

 		td {
 			text-align: right;
 		}
 	}

 	@include media-breakpoint( lg ) {
 		padding: 30px;
 	}
 }

 form.woocommerce-checkout {

 	div.wonka-checkout-row {
 		width: 100%;
 		margin: auto;

 		> div {
 			margin: 15px auto;
 		}
 	}

 }

 .woocommerce-Price-amount {
 	font-family: $font__main_jose;
 }

 .wonka-express-checkout-message {
 	opacity: 1;
 	@include prefix( transition, $trans_25, o moz webkit );
 }

 .woocommerce-shipping-calculator {
 	@include prefix( transition, $trans_25, o moz webkit );

 	.shipping-calculator-form {
 		@include prefix( transition, $trans_25, o moz webkit );
 	}
 }

 .woocommerce-shipping-totals {

 	td {
 		text-align: right;
 	}
 }

 .wonka {

 	.wonka-h5 {
 		letter-spacing: -0.5px;
 		line-height: 1.1;
 		font-weight: 700;
 		text-transform: unset;
 		@include font-size( 1);
 	}
 } 

 span.wonka-badge {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 22px;
 	height: 22px;
 	left: calc( 50% - 11px );
 	padding: 0;
 	font-family: 'Open Sans';
 }

 #free-shipping-label {
 	font-weight: 500;
 }

 @media screen and  ( max-width: 992px ) {
 	div.wonka-row {
 		margin-left: 0;
 		margin-right: 0;
 	}
 }

 #payment {

 	ul {
 		list-style: none;
 		margin: 0;
 		padding: 0;

 		li {

 			label {
 				margin-left: 8px;
 			}
 		}
 	}

 	.wonka-row {
 		margin-top: 15px;
 		margin-bottom: 15px;
 	}

 	input[type=checkbox] {
 		margin-right: 8px;
 	}

 	.woocommerce-terms-and-conditions-wrapper {
 		padding: 0 8px;
 	}

 	ul.payment_methods {

 		li {
 			width: 100%;
 			padding: 0;

 			> div {
 				padding: 8px;

 				&.custom-control {
 					padding-left: 24px;
 					border-bottom: 1px solid rgba( #000, .125 );
 				}
 			}

 			&.payment_method_paypal {

 				img {
 					display: none;
 				}
 			}

 			.wonka-custom-control-label {
 				display: flex;
 				align-items: center;
 				justify-content: space-between;
 				flex-wrap: wrap;
 				width: 100%;
 				padding-right: 15px;

 				.wonka-payment-method-icon {
 					flex: .5 20%;
 					display: flex;
 					align-items: center;
 					justify-content: flex-end;
 					flex-wrap: wrap;

 				}
 			}
 		}

 		.stripe-card-group {
 			width: 100%;
 		}

 	}

 	div.place-order {
 		padding: 15px 0;
 		display: none;
 	}

 	.wc-stripe-elements-field {
 		width: 100%;
 	}

 	ul.billing-address-options {

 		li {
 			width: 100%;
 			padding: 0; 

 			> div:not( .billing_address ) {
 				padding: 8px;


 				&.custom-control {
 					padding-left: 24px;
 					border-bottom: 1px solid rgba( #000, .125 );
 				}
 			}
			
			> div.active {
				padding: 8px;
			}

			.wonka-custom-control-label {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				width: 100%;
				padding-right: 15px;
			}
 		}
 	}
 }
