/**
 * Checkout
 */
.wc_payment_method {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;

	label {
		width: 90%;
		margin-left: 8px;

		a {
			margin-left: 8px;
		}
	}
}

.woocommerce-shipping-fields__field-wrapper,
.woocommerce-billing-fields__field-wrapper {

	p {
		clear: both;
	}

	p#shipping_first_name_field,
	p#billing_first_name_field {
		width: 49%;
		float: left;
		clear: none;
	}

	p#shipping_last_name_field,
	p#billing_last_name_field {
		width: 49%;
		float: right;
		clear: none;
	}

	p#shipping_city_field,
	p#billing_city_field {
		width: 49%;
		float: left;
		clear: none;
	}

	p#shipping_state_field,
	p#billing_state_field {
		width: 24%;
		margin-left: 15px;
		float: left;
		clear: none;
		
		span.select2.select2-container.select2-container--default {

			span.select2-selection--single {
				height: 37px;

				span.select2-selection__rendered {
					padding: 8px;
					line-height: 1.2;
				}

				span.select2-selection__arrow {
					height: 10px;
				}
			} 
		}
	}

	p#shipping_postcode_field,
	p#billing_postcode_field {
		width: 25%;
		float: right;
		clear: none;
	}
}

p#billing_email_field {
	margin-bottom: 8px;
}

div.woocommerce-additional-fields {
	clear: both;
}

label.checkbox {
	margin: 15px;
	width: 100%;
}

div.checkout-order-details {
	padding: 0;
	background: $color__background_alt;

	tr.cart_item:first-child {

		td {
			border: none;
		}
	}

	td.product-thumbnail {
		position: relative;

		strong.wonka-badge {
			position: absolute;
			top: 5px;
			right: 5px;
			background: #fff;
			border-radius: 50%;
			border: 1px solid rgba( #000, .4 );
		}
	}

	.cart-subtotal,
	.fee,
	.tax-rate,
	.order-total {
		
		td {
			text-align: right;
		}
	}
}

.woocommerce-Price-amount {
	font-family: $font__main_jose;
}

.wonka-express-checkout-message {
	opacity: 1;
	@include prefix( transition, $trans_25, o moz webkit );
}

.woocommerce-shipping-calculator {
	@include prefix( transition, $trans_25, o moz webkit );

	.shipping-calculator-form {
		@include prefix( transition, $trans_25, o moz webkit );
	}
}

@media screen and (min-width: 768px) {
	.col2-set {
		.form-row-first {
			float: left;
			margin-right: $columns__margin;
		}

		.form-row-last {
			float: right;
			margin-right: 0;
		}

		.form-row-first,
		.form-row-last {
			@include column-width(2);
		}
	}
}
