/**
 * Checkout
 */

.woocommerce-checkout p.woocommerce-invalid-required-field {
	color: #e2401c;

	span.woocommerce-input-wrapper {

		input.input-text {
			border: #e2401c 1px solid;
			@include prefix( box-shadow, 0px 0px 5px rgba(#e2401c, .6 ), o moz webkit );

		}
	}

	span.error {
		display: inline-block!important;
	}
	
}

.wc_payment_method {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;

	label {
		width: 90%;
		margin-left: 8px;

		a {
			margin-left: 8px;
		}
	}
}

#customer_details {
	margin-top: 0;
}

.woocommerce-shipping-fields__field-wrapper,
.woocommerce-billing-fields__field-wrapper {
	max-width: 100%;

	div {
		clear: both;
	}

	div#shipping_first_name_field,
	div#billing_first_name_field {
		width: 49%;
		float: left;
		clear: none;
	}

	div#shipping_last_name_field,
	div#billing_last_name_field {
		width: 49%;
		float: right;
		clear: none;
	}

	div#shipping_city_field,
	div#billing_city_field {
		width: 49%;
		float: left;
		clear: none;
	}

	div#shipping_state_field,
	div#billing_state_field {
		width: 24%;
		margin-left: 15px;
		float: left;
		clear: none;
		
		span.select2.select2-container.select2-container--default {

			span.select2-selection--single {
				height: 37px;

				span.select2-selection__rendered {
					padding: 8px;
					line-height: 1.2;
				}

				span.select2-selection__arrow {
					height: 10px;
				}
			} 
		}
	}

	div#shipping_postcode_field,
	div#billing_postcode_field {
		width: 25%;
		float: right;
		clear: none;
	}

}

div#shipping_email_field {
	margin-bottom: 4px;
}

div.wonka-newletter-form-check {
	margin-bottom: 15px;
	@include font-size( .8 );
}

div#billing_email_field {
	margin-bottom: 8px;
}

div.woocommerce-additional-fields {
	clear: both;
}

label.checkbox {
	margin: 15px;
	width: 100%;
}

div.checkout-order-details {
	padding: 30px;
	background: $color__background_alt;

	tr.cart_item:first-child {

		td {
			border: none;
		}
	}

	td.product-thumbnail {
		position: relative;

		strong.wonka-badge {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 22px;
			height: 22px;
			background: #fff;
			border-radius: 50%;
			border: 1px solid rgba( #000, .4 );
			font-family: 'Open Sans';
		}
	}

	.cart-subtotal,
	.fee,
	.tax-rate,
	.order-total {
		
		td {
			text-align: right;
		}
	}
}

form.woocommerce-checkout {

	div.wonka-checkout-row {
		width: 100%;
		margin: auto;

		> div {
			margin: 15px auto;
		}
	}

}

.woocommerce-Price-amount {
	font-family: $font__main_jose;
}

.wonka-express-checkout-message {
	opacity: 1;
	@include prefix( transition, $trans_25, o moz webkit );
}

.woocommerce-shipping-calculator {
	@include prefix( transition, $trans_25, o moz webkit );

	.shipping-calculator-form {
		@include prefix( transition, $trans_25, o moz webkit );
	}
}

.woocommerce-shipping-totals {

	td {
		text-align: right;
	}
}

.wonka {

	.wonka-h5 {
		letter-spacing: -0.5px;
		line-height: 1.1;
		font-weight: 700;
		text-transform: unset;
		@include font-size( 1);
	}
} 

span.wonka-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22px;
	height: 22px;
	padding: 0;
	font-family: 'Open Sans';
}