/**
 * Products
 */

.woocommerce-product-details__short-description {
	
	ul {
		list-style: none;
		margin: 0; 
	}
}

.archive {

	&.woocommerce-page {

		#content {

			main#main {
				margin: 0 auto 15px;
				max-width: 100%;


				.breadcrumb-title-wrap {
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-wrap: wrap;
					margin: 0 -15px 15px;
					min-height: 350px;
					background: url("./assets/img/shop-header.jpeg");
					background-size: cover;
					background-position: center;
					@include prefix( box-shadow, 0 1px 4px 0 rgba(0,0,0,0.5), o moz webkit );

					nav.woocommerce-breadcrumb {
						flex: 1 0 100%;
						color: #ffffff;
						font-weight: 500;
						@include prefix( text-shadow, 1px 1px 3px rgba(0,0,0,0.8), o moz webkit );

						a {
							color: #e6e6e6;
							@include prefix( text-shadow, 1px 1px 3px rgba(0,0,0,0.8), o moz webkit );
						}
					}

					.woocommerce-products-header__title {
						flex: 1 0 100%;
						text-align: center;
						font-weight: 700;
						color: #ffffff;
						@include font-size( 3 );
						@include prefix( text-shadow, 1px 1px 3px rgba(0,0,0,0.8), o moz webkit );
					}
				}

				.shop-content-container {
					position: relative;
					margin: auto;
					width: 100%;
					max-width: 1200px;
				}
			}
		}
	}
	
	div.wonka-row {
		clear: both;
	}
}

.final-sale-disclosure {
	font-style: italic;
	@include font-size( .9 );
}

ul.products {
	margin: 15px auto;
	padding: 0;
	max-width: 1180px;
	justify-content: space-between;

	li {
		margin-bottom: 25px;
		position: relative;
		padding: 0;
		overflow: hidden;
		flex: 0 1 32%;

		a {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			text-align: center;
			color: #333333;

			span.onsale {
				flex: 1 100%;
				position: absolute;
				display: block;
				margin-bottom: 15px;
				background: #eee;
				color: #e81409;
				top: 15px;
				left: 0;
				width: 50%;
				z-index: 50;
				@include prefix( transform, matrix(1.5,-.9,0.5,1.3,-20,10), o moz webkit );
			}

			div.wonka-shop-img-wrap {
				flex: 1 100%;
				position: relative;
				margin: 0 auto 15px;
				overflow: hidden;
				height: 100%;
				max-height: 420px;

				img {
					width: auto;
					height: auto;
				}
			}

			.woocommerce-loop-product__title {
				flex: 1 100%;
				font-family: $font__main_jose;
				text-align: center;
				margin-bottom: 4px;
				height: 40px;
				letter-spacing: -1px;
				@include font-size( .8 );
				
				@include media-breakpoint( md ) {
					height: 45px;
				}

				@include media-breakpoint( xl ) {
					height: 25px;
				}
			}

			span.price {
				flex: 1 100%;
				display: inline-block;
				width: 100%;
				text-align: center;
				color: #333333;
				@include font-size( .9 );

				ins {
					color: #e81409;
					background: transparent;
				}
			}

			@include media-breakpoint( md ) {

				div.wonka-shop-img-wrap {
					max-height: 570px;
				}

				.woocommerce-loop-product__title {
					height: 25px;
					@include font-size( 1 );
				}

				span.price {
					@include font-size( 1.1 );
				}
			}
		}

		a.add_to_cart_button {
			display: none;
			margin-bottom: 15px;
		}
	}
}
/*================================================
=            Styles for products page            =
================================================*/
p.woocommerce-result-count {
	margin-bottom: 15px;
	width: 50%;
	float: left;
}

form.woocommerce-ordering {
	margin-bottom: 15px;
	width: 50%;
	float: left;
	padding: 0 15px;

	select.orderby {
		float: right;
	}
}

div.outlet-title {
	width: 100%;
}

.page-description,
body.woocommerce-page #main div.woocommerce-info {
	padding: 0 15px;
}
/*=====  End of Styles for products page  ======*/


/*===========================================
=            For Products images            =
===========================================*/
/**
 * Styles
 */

.pif-has-gallery {
	position: relative;
}

.pif-has-gallery .onsale {
	z-index: 999999;
}

.pif-has-gallery .wp-post-image {
	opacity: 1;
}

.pif-has-gallery .wp-post-image--secondary {
	position: absolute;
	top: 0; 
	left: 0;
	opacity: 0;
}

/* backward compatibility - .woocommerce-LoopProduct-link will probably be removed in future releases */
ul.products li.pif-has-gallery a.woocommerce-LoopProduct-link [class*="wp-post-image"] {
	-webkit-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

ul.products li.pif-has-gallery a.woocommerce-LoopProduct-link:hover .wp-post-image {
	opacity: 0;
}

ul.products li.pif-has-gallery a.woocommerce-LoopProduct-link:hover .wp-post-image--secondary {
	opacity: 1;
}

ul.products li.pif-has-gallery a.woocommerce-loop-product__link [class*="wp-post-image"] {
	-webkit-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

ul.products li.pif-has-gallery a.woocommerce-loop-product__link:hover .wp-post-image {
	opacity: 0;
}

ul.products li.pif-has-gallery a.woocommerce-loop-product__link:hover .wp-post-image--secondary {
	opacity: 1;
}
/*=====  End of For Products images  ======*/
