/*#
 * Side Cart
 */
.xoo-wsc-modal {

	.xoo-wsc-header,
	.xoo-wsc-body,
	.xoo-wsc-footer {
		padding: 8px 15px;
		@include prefix( transition, $trans_3, o moz webkit );
	}

	.xoo-wsc-header {
		padding: 15px;
		background: #52abf6;

		.xoo-wsc-ctxt {
			display: block;
			margin: auto;
			text-align: center;
			color: #ffffff;
		}

		.xoo-wsc-close {
			color: #ffffff;
		}
	}

	.xoo-wsc-body {

		.xoo-wsc-product {

			&:first-of-type {
				border-top: none;
			}

			.xoo-wsc-img-col {

				img {
					height: 110px;
				    max-width: 100%;
				    object-fit: cover;
				}
			}

			.xoo-wsc-pname {
				font-weight: 600;
				@include font-size( .9 );
			}

			span.xoo-wsc-chng {
			    font-family: "Open Sans";
			    font-size: 1.5rem;
			    font-weight: 400;
			}
		}
	}

	.xoo-wsc-footer {
		padding: 0 0 8px;

		.xoo-wsc-tools {
			padding: 0;

			> div.xoo-wsc-tool {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: auto;
				
				&.xoo-wsc-subtotal {
					color: #444444;
					padding: 15px;
					background: #fafafa;
					margin-bottom: 15px;
				}

				.xoo-wsc-tools-label {
					padding: 0 4px;
				}

				.xoo-wsc-tools-value {
					padding: 0 4px;
				}

				&.xoo-wsc-total {
					display: none;
				}
			}
		}


		#xoo-wsc-coupon-code {
			border-radius: 100px 0 0 100px;

			&:focus {
				outline: 0;
				@include prefix( box-shadow, 0 1px 6px 0 rgba( #52abf6, .7 ), webkit moz o);
			}
		}

		.xoo-wsc-coupon-submit {
			border-radius: 0 100px 100px 0;
			text-transform: uppercase;
			display: flex;
			color: rgba( #fff, 1 );
			font-weight: 700;
			line-height: 1.1;
			letter-spacing: .1rem;
			text-align: center;
			border: 1px solid #52abf6;
			background: rgba( #52abf6, 1 );
			@include prefix( transition, $trans_25, webkit moz o);
		}

		.xoo-wsc-ft-btn {
			border-radius: 100px;
		}

		.xoo-wsc-footer-b {
			padding: 0 15px;
		}

		.xoo-wsc-rp-products {
			display: flex;
			align-items: center;

			.xoo-wsc-rp-item {
				align-items: center;
				justify-content: center;

				.xoo-wsc-rp-left-area {
					flex: 0 0 20%;
				}

				.xoo-wsc-rp-right-area {
					flex: 0 0 30%;

					span.price {
						display: flex;
					    align-items: center;
					    justify-content: flex-start;
					    width: 100%;
					    margin: 0;
					    color: #333333;
					    @include font-size( 1.1 );

					    ins {
					    	margin-left: 8px;
					    	color: #e81409;
					    	background: transparent;
					    }
					}
				}
			}
		}
	}
}

@media screen and ( max-width: 992px ) {
	.xoo-wsc-container {
		max-width: 100%;
	}
}