/*#
 * Side Cart
 */
.xoo-wsc-header,
.xoo-wsc-body,
.xoo-wsc-footer {
	@include prefix( transition, $trans_3, o moz webkit );
}

.xoo-wsc-footer {

	.wonka-btn-container {
		position: relative;
		margin-bottom: 15px;
		width: 100%;
		opacity: 0;
		@include prefix( transition, $trans_3, o moz webkit );

		.wonka-btn {
			position: relative;
			display: block;
			margin: 0;
			width: 100%;
		}
	}
}

.xoo-wsc-tools {

	> div.xoo-wsc-tool {
		margin: auto;
	}
}

.xoo-wsc-ft-btn {
	border-radius: 100px;
}

.xoo-wsc-rp-products {
	display: flex;
	align-items: center;

	.xoo-wsc-rp-item {
		align-items: center;
		justify-content: center;

		.xoo-wsc-rp-left-area {
			flex: 0 0 20%;
		}

		.xoo-wsc-rp-right-area {
			flex: 0 0 30%;

			span.price {
				display: flex;
			    align-items: center;
			    justify-content: flex-start;
			    width: 100%;
			    margin: 0;
			    color: #333333;
			    @include font-size( 1.1 );

			    ins {
			    	margin-left: 8px;
			    	color: #e81409;
			    	background: transparent;
			    }
			}
		}
	}
}