/**
 * Single Product
 */
.single-product {
	div.product {
		@include clearfix;
		position: relative;

		.woocommerce-product-gallery {
			position: relative;
			overflow: hidden;


			.woocommerce-product-gallery__trigger {
				position: relative;
				top: 1em;
				right: 1em;
				display: block;
				z-index: 99;
			}

			.flex-viewport {
				position: relative;
				height: 100%;
				max-height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				cursor: zoom-in;

				figure.woocommerce-product-gallery__wrapper {

					img {
						cursor: zoom-in;
					}
				}
			}

			@for $i from 2 through 5 {
				&.woocommerce-product-gallery--columns-#{$i} {
					.flex-control-thumbs {
						li {
							@include column-width($i);

							&:nth-child(#{$i}n) {
								margin-right: 0;
							}

							&:nth-child(#{$i}n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
	}
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}

.woocommerce-breadcrumb {
	color: #333333;	

	a {
		color: $color__link;
	}
}



/*==========================================
=            product image area            =
==========================================*/
#main {

	nav.woocommerce-breadcrumb {
		max-width: 1200px;
		margin: 8px auto;
	}

	div.woocommerce-notices-wrapper {
		max-width: 1200px;
		margin: 8px auto;
	}

	div.product {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;

		section.product-img-section {
			max-width: 1200px;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;

			div.wonka-single-product-img {
				position: relative;
				flex: 1 100%;

				div.flex-control-wrapper {
					overflow: hidden;
				}

				div.woocommerce-product-gallery {
					margin: 15px auto;
					flex: .7 0 100%;
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-flow: row-reverse;

					.woocommerce-product-gallery__trigger {
					
					}

					.woocommerce-product-gallery__wrapper {
						margin: 0;
						display: flex;
						align-items: center;

						div.woocommerce-product-gallery__image {
							display: flex !important;
							align-items: center;
							justify-content: center;
							height: 100%;

						}
					}

					ol.flex-control-thumbs {
						flex: .5 auto;
						@include clearfix;
						margin: 0;
						padding: 0;
						width: auto;
						height: auto;
						display: flex;
					    align-items: flex-start;
					    justify-content: space-around;
					    flex-wrap: wrap;

					    &::-webkit-scrollbar {
					    	display: none;
					    	background: transparent;
					    }

						li {
							width: auto;
							height: auto;
							list-style: none;
							cursor: pointer;
							float: left;

							img {
								opacity: .5;

								&.flex-active {
									opacity: 1;
								}
							}

							&:hover {
								img {
									opacity: 1;
								}
							}
						}
					}
				}
			}

			div.summary {
				flex: 1 0 100%;
				position: relative;
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				padding: 0 15px;

				div.price-reviews-container {
					flex: 1 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 15px auto;
					width: 100%;

					p.price {
						display: flex;
					    align-items: center;
					    justify-content: space-between;
					    width: 40%;
					    margin: 0;
					    color: #333333;
					    @include font-size( 1.3 );

					    ins {
					    	color: #e81409;
					    	background: transparent;
					    }
					}

					div.woocommerce-product-rating {
						display: flex;
					    align-items: center;
					    justify-content: flex-end;
					    width: 70%;

					    a.woocommerce-review-link {
					    	display: none;
					    }
					}
				}

				table.variations {
					margin: 0;

					td {
						padding: 8px 0;
					}

					td.label {
						max-width: 45px;
					}
				}

				form.cart {
					flex: 1 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					width: 100%;

					div.quantity {
						width: 45px;

						input[type=number] {
							padding-right: 3px;
						}

					}

					button.wonka-btn {
						margin: 8px auto;
						width: 100%;

					    &:hover {
					    }
					}

					table.variations {
						flex: 1 100%;
					}

					div.single_variation_wrap {
						margin: 15px auto;
						display: flex;
						flex-direction: column;
					    align-items: flex-start;
					    width: 100%;

					    div.woocommerce-variation-availability {
					    	flex: 1 100%;
					    }

						div.woocommerce-variation-add-to-cart {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							width: 100%;

							button.wonka-btn {
								margin: 8px auto;
								width: 100%;

							}
						}
					}
				}
				
				div.wcppec-checkout-buttons {
					width: 100%;
				}
			}

			@media screen and ( min-width: 768px ) {

				div.wonka-single-product-img {
					position: relative;
					flex: 1 59%;

					div.woocommerce-product-gallery {
						position: relative;
						flex: 0.3 0 50%;
						margin-left: 0;
						left: 0;

						.woocommerce-product-gallery__wrapper {
							display: flex;
							align-items: flex-start;
							justify-content: center;
							height: 100%;
						}

						div.flex-viewport {
						}

						ol.flex-control-thumbs {
							flex: 1 25%;
							display: flex;
							align-items: center;
							flex-direction: column;

							li {
								width: auto;
								height: auto;
							}

						}
					}
				}
 
				div.summary {
					flex: 0.1 40%;
					position: relative;
					background: #fff;
					z-index: 20;
					margin: 0;

					&.sticky-on {
						position: -webkit-sticky;    
						position: sticky;
					}
				}

				div.woocommerce-tabs {
					flex: 1 0 100%;
				}

				section.related.products {
					flex: 1 0 100%;
				}
			}
		}

		section.product-tags-section {
			max-width: 1200px;
			margin: 15px auto;
			padding: 15px;

			div.wonka-tabs-wrapper {

				section.wonka-section-reviews {
					padding: 15px;
					border: 1px solid rgba( #000, .2 );

					ol {
						margin: 8px;
						padding: 8px;
					}

					#submit {
						border-radius: 2px;
						padding: 15px 25px;
					}
				}

				section.wonka-section-product-statement {
					padding: 15px;
					border: 1px solid rgba( #000, .2 );

					ul {
						list-style: none;
						margin: 0;
						padding-left: 16px;
					}

					div.row {

						.col {
							margin-bottom: 15px;
						}
					}

					div.wonka-row-product-statement {
						padding: 15px;

						p {
							margin: 0 auto;
							max-width: 50%;
						}
					}

					div.wonka-row-product-specs {
						padding: 15px;

						.col:not(:last-of-type) {
							border-right: 1px solid rgba(0,0,0,.2);
						}
					}
				}

				section.wonka-section-additional-information {

					h2 {
						padding: 8px;
						border: 1px solid rgba( #000, .2 );
						margin: 0;
					}
					table.shop_attributes {
						border: 1px solid rgba( #000, .2 );
						th,
						td {
							padding: 8px;
						}
					}
				}
			}
		}

		section.related.products {
			flex: 1 0 100%;
			max-width: 1200px;
			margin: 15px auto;
			padding: 15px;
			border: 1px solid rgba( #000, .2 );
		}
	}
}

/*=====  End of product image area  ======*/

/*====================================
=            Tabs section            =
====================================*/
section.wonka-section-reviews {

	ol {
		list-style: none;
	}
}
form#commentform {
	position: relative;
	opacity: 0;
	display: none;
}


/*=====  End of Tabs section  ======*/

