/**
 * Single Product
 */
.single-product {
	position: relative;

	div.product {
		@include clearfix;
		position: relative;

		.woocommerce-product-gallery {
			position: relative;
			margin: 0 auto;

			[data-variant-check="true"] {
				display: none;

				&.variant-show {
					display: block;
				}
			}

			.wonka-image-viewer {
				position: relative;
				height: 100%;
				max-height: 100%;
				cursor: zoom-in;
				@include prefix( transition, $trans_25, o moz webkit );

				div.woocommerce-product-gallery__image:not(:last-child) {
					margin-bottom: 25px;
				}

				div.woocommerce-product-gallery__image {
					width: 100%;

					img {
						width: 100%;
					}
				}
			}

			div.wonka-thumbnails {
				position: relative;
				width: 115px;
				padding: 0;

				ul {
					list-style: none;
					margin: 0;
					padding: 0;

					li:not(:last-child) {

						a.woocommerce-product-gallery__image {
							margin-bottom: 15px;
						}
					}
					
					li {
						padding-right: 15px;

						a.woocommerce-product-gallery__image {
							display: block;
							padding: 0;
							@include prefix( transition, $trans_25, o moz webkit );

							img {
								width: auto;
								height: auto;
								opacity: .3;
								@include prefix( transition, $trans_25, o moz webkit );
							}

							&.active {

								img {
									opacity: 1;
								}
							}
						}
					}
				}
				
				&.sticky-on {
					position: -webkit-sticky !important;    
					position: sticky !important;
					top: 25px;
					@include prefix( transition, $trans_3, o moz webkit );
				}
			}
		}
	}
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}

.woocommerce-breadcrumb {
	color: #333333;	

	a {
		color: $color__link;
	}
}



/*==========================================
=            product image area            =
==========================================*/
#main {

	nav.woocommerce-breadcrumb {
		max-width: 1200px;
		margin: 8px auto;
	}

	div.woocommerce-notices-wrapper {
		max-width: 1200px;
		margin: 8px auto;
	}

	div.product {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;

		section.product-img-section {
			max-width: 1200px;
			width: 100%;
			margin: 15px auto;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			@include prefix( transition, $trans_3, o moz webkit );

			div.product-on-sale {
				flex: 1 100%;
			}

			div.wonka-single-product-img-area {
				position: relative;
				flex: 1 100%;
				height: 100%;

				div.woocommerce-product-gallery {
					flex: 1 100%;
					height: 100%;
					max-width: 715px;

					.woocommerce-product-gallery__wrapper {
						margin: 0;
						display: flex;
						align-items: flex-start;
						justify-content: center;
						flex-direction: row-reverse;
					}
				}
			}

			div.summary {
				flex: 1 0 100%;
				position: relative;
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				margin: 0 auto;
				padding: 0 15px;
				opacity: 0;
				background: $color__background_alt;

				&.loaded {
					opacity: 1;
				}

				hr {
					width: 100%;
				}

				div.price-reviews-container {
					flex: 1 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 15px auto;
					width: 100%;

					p.price {
						display: flex;
					    align-items: center;
					    justify-content: space-between;
					    width: 40%;
					    margin: 0;
					    color: #333333;
					    @include font-size( 1.3 );

					    ins {
					    	color: #e81409;
					    	background: transparent;
					    }
					}

					div.woocommerce-product-rating {
						display: flex;
					    align-items: center;
					    justify-content: flex-end;
					    width: 70%;

					    a.woocommerce-review-link {
					    	display: none;
					    }
					}
				}

				form.cart {
					flex: 1 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					width: 100%;

					div.quantity {
						width: 75px;

						input[type=number] {
							padding-right: 3px;
							font-weight: 700;
						}

					}

					button.wonka-btn {
						margin: 8px auto;
						width: 100%;

					    &:hover {
					    }
					}

					table.variations {
						flex: 1 100%;
						opacity: 0;
						@include prefix( transition, $trans_3, o moz webkit );

						&.table {
							opacity: 1;
						}

						th.label {

							label {
								display: flex;
								align-items: center;
								margin: 0;
							}
						}

						th {
							vertical-align: middle;
						}

						td {
							padding: 8px 18px;
						}

						ul.color-variable-wrapper {

							li {
								display: flex;
								align-items: center;
							}
						}
					}

					div.single_variation_wrap {
						margin: 15px auto;
						display: flex;
						flex-direction: column;
					    align-items: flex-start;
					    width: 100%;

					    div.woocommerce-variation-availability {
					    	flex: 1 100%;
					    }

					    div.woocommerce-variation.single_variation {
					    	width: 100%;
					    }

					    div.woocommerce-variation-price {

					    	span.price {
					    		width: 50%;

					    		ins {
					    			color: #e81409;
					    			background: transparent;
					    		}
					    	}
					    }

						div.woocommerce-variation-add-to-cart {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							width: 100%;

							div.quantity {
								display: none !important;
							}

							button.wonka-btn {
								margin: 8px auto;
								width: 100%;

							}

							div.wonka-express-checkout-wrap {
								margin: 15px 0;
								width: 100%;

								.wonka-btn {
									display: inline-block;
									width: 100%;
								}
							}
						}
					}
				}
				
				div.wcppec-checkout-buttons {
					width: 100%;
				}
			}

			/* This media query is on section.product-img-section */
			@media screen and ( min-width: 768px ) {

				div.wonka-single-product-img-area {
					position: relative;
					flex: 1 59%;

					div.woocommerce-product-gallery {
						position: relative;
						flex: 1 100%;

						.woocommerce-product-gallery__wrapper {
							
						}

						div.wonka-image-viewer {
							flex: 1 85%;

							div.woocommerce-product-gallery__image {
								
							}
						}

						ol.flex-control-thumbs {
							flex: 1 15%;

							li {
								width: auto;
								height: auto;
							}

						}
					}
				}
 
				div.summary {
					flex: 0.1 40%;
					position: relative;
					z-index: 20;
					top: 0;

					&.sticky-on {
						position: -webkit-sticky;    
						position: sticky;
						top: 25px;
					}
				}

				div.woocommerce-tabs {
					flex: 1 0 100%;
				}

				section.related.products {
					flex: 1 0 100%;
				}
			}
		}
	}
}

/*=====  End of product image area  ======*/

/*====================================
=            Tabs section            =
====================================*/
section.product-tabs-section {
	width: 1200px;
	max-width: 100%;
	margin: 15px auto;
	padding: 0;

	section {
		margin: 15px auto;
	}

	div.wonka-tabs-wrapper {

		section.wonka-section-reviews {
			padding: 15px;
			border: 1px solid rgba( #000, .2 );

			div.wonka-review-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			a#write-review {
				margin-bottom: 15px;
			}

			ol.commentlist {
				margin: 0;
				padding: 0;
				height: 100%;
				list-style: none;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				@include prefix( transition, $trans_35, o moz webkit );

				li:not(:last-child) {
					border-bottom: 1px solid rgba( #333, .2 ); 
				}
			}

			form#commentform {
				position: relative;
				opacity: 0;
				height: 0;
				@include prefix( transition, $trans_35, o moz webkit );

				.wonka-btn {
					border-radius: 100px;
				}
			}

			div.wonka-row-comment-text {
				margin: 15px auto;
			}

			div.star-rating {
				width: 100%;
			}

			p.meta {
				width: 100%;
				border-bottom: 2px solid rgba( #333, .2 );

				strong.woocommerce-review__author {
				}

				span.wonka-verified-time-wrap {
					display: inline-block;

					em.woocommerce-review__verified {
					}
				}
			}

			#submit {
				border-radius: 2px;
				padding: 15px 25px;
			}

			.wonka-more-reviews {
				margin: 15px auto;
			}

			@include media-breakpoint-up( md ) {
				
				a#write-review {
					margin-bottom: 0;
				}
			}
		}

		section.wonka-section-product-statement {
			padding: 8px;
			border: 1px solid rgba( #000, .2 );
			background: #fafafa;

			h2 {
				font-weight: 600;
			}

			hr {
				margin-top: 8px;
				margin-bottom: 8px;
			}

			div#tab-product-statement {

				ul {
					list-style: none;
					margin: 0;
					padding-left: 16px;

					&.product-spec-points {
						padding: 0;
					}
				}

				div.row {

					.col {
						margin-bottom: 15px;
					}
				}

				.table {

					th {
						font-weight: 400;
					}

					thead {

						th {
							border-top: none;

							h4 {
								font-weight: 600;
							}
						}
					}
				} 

				div.wonka-row-product-statement {
					padding: 15px;

					p {
						margin: 0 auto;
						max-width: 100%;
					}
					
					@include media-breakpoint-up( md ) {

						p {
							max-width: 70%;
						}
					}
				}

				div.wonka-row-product-specs {
					padding: 8px;

					.col {
						@include prefix( transition, $trans_25, o moz webkit );
					}

					.col:not(:last-of-type) {
						border-right: 1px solid rgba(0,0,0,0);
					}
				}

				div.wonka-row-product-built {

					.col:not(:last-of-type) {
						border-right: 1px solid rgba(0,0,0,0);
					}	
				}

				@include media-breakpoint-up( md ) {

					div.wonka-row-product-specs {

						.col:not(:last-of-type) {
							border-right: 1px solid rgba(0,0,0,.2);
						}
					}

					div.wonka-row-product-built {

						.col:not(:last-of-type) {
							border-right: 1px solid rgba(0,0,0,.2);
						}	
					}
				}
			}
		}

		section.wonka-section-additional-information {

			h2 {
				padding: 8px;
				border: 1px solid rgba( #000, .2 );
				margin: 0;
			}
			table.shop_attributes {
				border: 1px solid rgba( #000, .2 );
				th,
				td {
					padding: 8px;
				}
			}
		}
	}
}

section.related.products {
	flex: 1 0 100%;
	width: 1200px;
	max-width: 100%;
	margin: 15px auto;
	padding: 15px;
	border: 1px solid rgba( #000, .2 );

	.star-rating {
		display: none;
	}
}
/*=====  End of Tabs section  ======*/

