/**
 * Single Product
 */
.single-product {
	position: relative;

	div.product {
		@include clearfix;
		position: relative;

		.wonka-single-product-img-area {

			.product_title {
				@include font-size( 1 );
				padding: 0 15px;
			}
		}

		.woocommerce-product-gallery {
			position: relative;
			margin: 0 auto;

			[data-variant-check="true"] {
				display: none;

				&.variant-show {
					display: block;
				}
			}

			figure.woocommerce-product-gallery__wrapper {

				div.sticky-spacer {
					position: relative;
					display: block;
					flex: 0 0 100%;
					background: #fff;
					width: 100%;
					height: 0;
					top: 0;
					@include prefix( transition, height .25s ease-in-out, o moz webkit );

					&.spacing-now {
						position: -webkit-sticky !important;    
						position: sticky !important;
						height: 0;
						z-index: 999;
					}

					@include media-breakpoint( md ) {

						&.spacing-now {
							height: 30px;
						}
					}
				}

				div.wonka-image-viewer {
					position: relative;
					flex: 0 0 100%;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					height: 100%;
					max-height: 100%;
					margin: 0 -15px;
					overflow: hidden;
					cursor: zoom-in;
					@include prefix( transition, $trans_25, o moz webkit );

					a {
						position: relative;
						display: block;
					}

					.slick-prev {
						left: 20px;

						&:before {
							color: #fff;
						}
					}

					.slick-next {
						right: 20px;

						&:before {
							color: #fff;
						}
					}

					div.woocommerce-product-gallery__image:not(:last-child) {
						margin: auto;

						@include media-breakpoint( md ) {
							margin-bottom: 25px;

						}
					}

					div.woocommerce-product-gallery__image {
						width: 100%;
						flex: 0 0 100%;
						padding: 0 8px;

						img {
							width: 100%;
						}

						.wp-post-image {
							opacity: 1;
							@include prefix( transition, all .25s ease-in-out, o moz webkit );

							&.vanish {
								opacity: 0;
							}
						}
					}

					@include media-breakpoint( md ) {
						flex-flow: column;
						margin: 0;
						flex: 0 1 80%;

						div.woocommerce-product-gallery__image {
							width: unset;
							flex: 0 1 50%;
						}
					}
				}

				div.wonka-thumbnails {
					display: none;
					position: relative;
					flex: 0 0 20%;
					padding: 0;

					ul {
						list-style: none;
						margin: 0;
						padding: 0;

						li:not(:last-child) {

							a.woocommerce-product-gallery__image {
								margin-bottom: 15px;
							}
						}
						
						li {
							padding-right: 15px;

							a.woocommerce-product-gallery__image {
								display: block;
								padding: 0;


								img {
									width: auto;
									height: auto;
									opacity: .3;
									@include prefix( transition, $trans_25, o moz webkit );
								}

								&.active {

									img {
										opacity: 1;
									}
								}
							}
						}
					}
					
					&.sticky-on {
						position: -webkit-sticky !important;    
						position: sticky !important;
						top: 25px;
					}

					@include media-breakpoint( md ) {
						display: flex;
					}
				}
			}

			@include media-breakpoint( md ) {
				margin: auto;
			}
		}
	}
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}

.woocommerce-breadcrumb {
	color: #333333;	

	a {
		color: #52abf6;
	}
}



/*==========================================
=            product image area            =
==========================================*/
#main {

	nav.woocommerce-breadcrumb {
		max-width: 1200px;
		margin: 8px auto;
		padding: 0 15px;
	}

	div.woocommerce-notices-wrapper {
		max-width: 1200px;
		margin: 8px auto;
	}

	div.product {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;

		.star-rating {

			:before {
				color: #52abf6;
			}
		}

		section.product-img-section {
			max-width: 100%;
			width: 1200px;
			margin: 15px auto;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			@include prefix( transition, $trans_3, o moz webkit );

			div.product-on-sale {
				flex: 0 0 100%;
				padding: 8px;
			}

			div.wonka-single-product-img-area {
				position: relative;
				flex: 0 0 100%;
				height: 100%;
				max-width: 100%;

				div.woocommerce-product-gallery {
					height: 100%;
					width: 100%;
					max-width: 715px;

					.woocommerce-product-gallery__wrapper {
						margin: 0 -15px;
						display: flex;
						align-items: flex-start;
						justify-content: center;
						flex-direction: row-reverse;
						flex-wrap: wrap;

						@include media-breakpoint( md ) {
							margin: 0;
						}
					}
				}
				
				@include media-breakpoint( md ) {
					flex: 0 1 50%;
				}
			}

			div.summary {
				flex: 0 0 100%;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				margin: 0 auto;
				padding: 15px;
				max-width: 100%;
				opacity: 0;
				background: $color__background_alt;

				&.loaded {
					opacity: 1;
				}

				hr {
					width: 100%;
				}

				.product_title {
					display: none;
					flex: 0 0 100%;
					text-align: left;
					letter-spacing: -0.8px;
					@include font-size( 1 );

					@include media-breakpoint( md ) {
						display: flex;
					}
				}

				div.woocommerce-product-details__short-description {
					flex: 0 0 100%;
					text-align: left;
					padding: 15px 0;
				}

				div.price-reviews-container {
					flex: 0 0 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
					margin: 15px auto;
					max-width: 100%;

					p.price {
						flex: .5 .5 15%;
						display: flex;
					    align-items: center;
					    margin: 0;
					    color: #333333;
					    @include font-size( 1.3 );

					    .variableshopmessage {
					    	display: none !important;
					    }

					    ins {
					    	margin-left: 15px;
					    	color: #e81409;
					    	background: transparent;
					    }
					}

					div.woocommerce-product-rating {
						flex: 0 0 40%;
						display: flex;
					    align-items: center;
					    justify-content: flex-end;

					    a.woocommerce-review-link {
					    	display: none;
					    }

					}

					form.cart {
						flex: 0 0 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						width: 100%;

						div.quantity {
							width: 65px;

							input[type=number] {
								padding-right: 3px;
								font-weight: 700;
							}

						}

						button.wonka-btn {
							margin: 8px auto;
							width: 100%;

						}

						table.variations {
							flex: 0 0 100%;
							margin: 0;
							opacity: 0;
							@include prefix( transition, $trans_3, o moz webkit );

							&.table {
								opacity: 1;
							}

							th.label {
									width: 85%;

								label {
									display: flex;
									align-items: center;
									margin: 0;
								}
							}

							th {
								vertical-align: middle;
							}

							td {
								padding: 8px 18px;
							}

							ul.color-variable-wrapper {

								li {
									display: flex;
									align-items: center;
									margin: 4px;
								}
							}
						}

						div.single_variation_wrap {
							display: grid;
							grid-auto-flow: row;
						    align-items: start;
						    width: 100%;

						    div.woocommerce-variation-availability {
						    	width: 100%;
						    }

						    div.woocommerce-variation.single_variation {
						    	width: 100%;
						    }

						    div.woocommerce-variation-price {

						    	span.price {
						    		width: 50%;

						    		ins {
						    			color: #e81409;
						    			background: transparent;
						    		}
						    	}
						    }

							div.woocommerce-variation-add-to-cart {
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								width: 100%;

								hr {
									margin: 15px 0;
								}

								#wc-stripe-payment-request-wrapper {
									width: 100%;
								}

								#wc-stripe-payment-request-button-separator {
									width: 100%;
								}

								div.quantity {
									display: none !important;
								}

								button.wonka-btn {
									margin: 8px auto;
									width: 100%;

								}

								div.wonka-express-checkout-wrap {
									margin: 15px 0;
									width: 100%;

									.wonka-btn {
										display: inline-block;
										width: 100%;
									}
								}
							}
						}
					}
				}
				
				div.wcppec-checkout-buttons {
					width: 100%;
				}
			}

			/* This media query is on section.product-img-section */
			@include media-breakpoint( sm ) {

				div.summary {

					.product_title {
						letter-spacing: -0.8px;
						@include font-size( 1.2 );
					}

					.woocommerce-product-details__short-description {

						@include font-size( 1.1 );
					}
				}
			}

			@include media-breakpoint( md ) {

				div.summary {
					flex: 0 1 50%;

					&.sticky-on {
						position: -webkit-sticky;    
						position: sticky;
						top: 25px;
					}
				}
			}

			@include media-breakpoint( lg ) {
				
				div.wonka-single-product-img-area {
					position: relative;
					flex: 0 0 55%;

					div.woocommerce-product-gallery {
						position: relative;

						.woocommerce-product-gallery__wrapper {
							
						}

						div.wonka-image-viewer {
							flex: 0 0 80%;
						}

						div.wonka-thumbnails {
							flex: 0 0 20%;
						}
					}
				}
 
				div.summary {
					flex: 0 0 45%;
					position: relative;
					z-index: 20;
					top: 0;

					&.sticky-on {
						position: -webkit-sticky;    
						position: sticky;
						top: 25px;
					}

					.product_title {
						letter-spacing: -0.8px;
						@include font-size( 1.4 );
					}

					.woocommerce-product-details__short-description {

						@include font-size( 1.1 );
					}
				}

				div.woocommerce-tabs {
					flex: 0 0 100%;
				}

				section.related.products {
					flex: 0 0 100%;
				}
			}
		}
	}
}

/*=====  End of product image area  ======*/

/*====================================
=            Tabs section            =
====================================*/
section.product-tabs-section {
	width: 1200px;
	max-width: 100%;
	margin: 15px auto;
	padding: 0;

	section {
		margin: 15px auto;
	}

	div.wonka-tabs-wrapper {

		section.wonka-section-reviews {
			padding: 15px;
			border: 1px solid rgba( #000, .2 );

			div.wonka-review-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			a#write-review {
				margin-bottom: 15px;
			}

			div#comments {
				position: relative;

				div#comment-status {

					div.spinner-border-sm {
						border-width: .15rem;
					}
				}

				div#comment-errors {
					color: red;
					font-weight: 500;
				}
			}

			div.commentlist-wrapper {

				ol.commentlist {
					margin: 0;
					padding: 0;
					list-style: none;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					@include prefix( transition, $trans_35, o moz webkit );

					li:not(:last-child) {
						border-bottom: 1px solid rgba( #333, .2 ); 
					}

					li.review {
						width: 100%;
					}
				}
			}

			.wonka-comment-wrapper {

				button.wonka-btn {
					padding: 4px 8px;
					font-size: .8rem;
				}
			}

			div#review_form_wrapper {
				height: 35px;
				overflow: hidden;
				@include prefix( transition, $trans_35, o moz webkit );

				div#respond {
					position: relative;
					height: 100%;

					form#commentform {
						position: relative;
						padding: 15px 0;

						.wonka-btn {
							border-radius: 100px;
						}
					}
				}

				@include media-breakpoint( md ) {
					height: 25px;
				}
			}

			div.wonka-row-comment-text {
				margin: 15px auto;
			}

			p.meta {
				width: 100%;
				border-bottom: 2px solid rgba( #333, .2 );

				strong.woocommerce-review__author {
				}

				span.wonka-verified-time-wrap {
					display: inline-block;

					em.woocommerce-review__verified {
					}
				}
			}

			#submit {
				border-radius: 2px;
				padding: 15px 25px;
			}

			.wonka-more-reviews {
				margin: 15px auto;
			}

			@include media-breakpoint( md ) {
				
				a#write-review {
					margin-bottom: 0;
				}
			}
		}

		section#section-key-featrues-and-specs,
		section#section-product-statement {
			padding: 8px;
			border: 1px solid rgba( #000, .2 );
			background: #fafafa;

			h2 {
				font-weight: 600;
			}

			hr {
				margin-top: 8px;
				margin-bottom: 8px;
			}

			div {

				ul {
					list-style: none;
					margin: 0;
					padding-left: 16px;

					&.product-spec-points {
						padding: 0;
					}
				}

				div.row {

					.col {
						margin-bottom: 15px;

						iframe {
							width: 560px;
							height: 12.4rem;
							
							@include media-breakpoint( xs ) {
								height: 15.2rem;
							}
							@include media-breakpoint( sm ) {
								height: 18.6rem;
							}
							@include media-breakpoint( md ) {
								height: 19.7rem;
							}
						}
					}		
				}

				.table {

					th {
						font-weight: 400;
						font-family: $font__main;
						@include font-size( 1 );
					}

					td {
						font-weight: 400;
						font-family: $font__main;
						@include font-size( 1 );

						&.product-disclosures {
							font-size: .9rem;

						}
					}

					thead {

						th {
							border-top: none;

							h4 {
								font-weight: 600;
							}
						}
					}
				} 

				div.wonka-row-product-statement {
					padding: 15px;

					p {
						margin: 0 auto;
						max-width: 100%;
					}
					
					@include media-breakpoint( md ) {

						p {
							max-width: 70%;
						}
					}
				}

				div.wonka-row-product-specs {
					padding: 8px;

					.col {
						@include prefix( transition, $trans_25, o moz webkit );
					}

					.col:not(:last-of-type) {
						border-right: 1px solid rgba(0,0,0,0);
					}
				}

				div.wonka-row-product-built {

					.col:not(:last-of-type) {
						border-right: 1px solid rgba(0,0,0,0);
					}	
				}

				@include media-breakpoint( md ) {

					div.wonka-row-product-specs {

						.col:not(:last-of-type) {
							border-right: 1px solid rgba(0,0,0,.2);
						}
					}

					div.wonka-row-product-built {

						.col:not(:last-of-type) {
							border-right: 1px solid rgba(0,0,0,.2);
						}	
					}
				}
			}
		}

		section#section-product-statement {
			padding: 15px 8px;
		}
	}
}

section.related.products {
	flex: 1 0 100%;
	width: 1200px;
	max-width: 100%;
	margin: 15px auto;
	padding: 15px;
	border: 1px solid rgba( #000, .2 );

	.star-rating {
		display: none;
	}
}
/*=====  End of Tabs section  ======*/

