.woocommerce-cart,
.woocommerce-checkout,
.woocommerce-page {
	
	#main {
		margin: 15px auto;

		.woocommerce-notice,
		.woocommerce-info {
			margin: 15px 0;
			padding: 15px;
			color: #333333;
			@include prefix( box-shadow, $box_shadow_4, o moz webkit );

			a {
				color: rgba( 0, 0, 0, .8 );

				&:hover {
					color: rgba(255, 255, 255, .8);
					@include prefix( text-shadow, 1px 1px 4px rgba(#000, .6 ), o moz webkit );
				}
			}
		}

		/*====================================================
		=            This is for the archive page            =
		====================================================*/
		form.wonka-form-inline {
			justify-content: flex-end;
		}

		p.woocommerce-result-count {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			height: 38px;
		}
		/*=====  End of This is for the archive page  ======*/
		
		/*=====================================================
		=            This is for the checkout page            =
		=====================================================*/
		span.woocommerce-input-wrapper {
			width: 100%;

			input.wonka-form-control {
				width: 100%;
				border-radius: 2px;
			}
		}

		.select2-selection--single {
			border-radius: 2px;
			height: 51px;

			span.select2-selection__rendered {
				padding: 12px 15px;
			}
			span.select2-selection__arrow {

				b {
					margin-top: 8px;
				}
			}
		}

		#payment {

			ul {
				list-style: none;
				margin: 0;
				padding: 0 8px;
			}

			input[type=checkbox] {
				margin-right: 8px;
			}

			.woocommerce-terms-and-conditions-wrapper {
				padding: 0 8px;
			}

			ul.payment_methods .stripe-card-group {
				width: 100%;
			}

			.wc-stripe-elements-field {
				width: 100%;
			}
		}
		
		
		/*=====  End of This is for the checkout page  ======*/
		
		/*===========================================================
		=            This is the totals on the cart page            =
		===========================================================*/
		a.continue-shopping {
			margin: 15px 0;	
			display: inline-block;
		}

		div.cart-collaterals {
			position: relative;
			text-align: right;

			table {
				padding: 0 15px;

				thead {

					tr {

						th {
							text-align: left;
						}
					}
				}

				tbody {

					tr {

						th {
							text-align: left;
						}

						td {
							text-align: right;
						}

						&.cart-promo {

							div.activate-panel {
								cursor: pointer;

								.panel-title {
									position: relative;
									display: flex;
									align-items: center;
									justify-content: space-between;

									&:after {
										content: "+";
										display: inline-block;
										@include font-size( 1.6 );
										@include prefix( transition, all .3s ease-in-out, o moz webkit );
									}
								}

								&[aria-expanded=true] {

									.panel-title {

										&:after {
											content: "-";
										}
									}
								}
							}

							input {
								width: 50%;
							}
						}
					}
				}
			}

			a.wonka-btn {
				position:relative;
				display: inline-block;
				margin: 5px auto;
				width: 100%;
				text-align: center;
			}

			#pay_with_amazon {
				margin: 8px auto;
				text-align: center;
			}
		}
		/*=====  End of This is the totals on the cart page  ======*/

		&.product {

			section.product-img-section {
				max-width: 1180px;
			}
		}

		&.page {
			max-width: 1180px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			header.entry-header {
				padding: 15px;
			}

			div.entry-content {
				margin: 0;
				padding: 15px;
				border: 1px solid rgba( #000, .2 );
			}
		}
	}

	&.archive {

		main.product {
			max-width: 1180px;
		}

		div.wonka-row {

			ul.products {

				.star-rating {
					display: none;
				}
			}
		}
	}
}

.woocommerce-cart {

	.entry-title {
		display: none;
	}
}