body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
	@include font-size( .9 );

	@include media-breakpoint( md ) {
		line-height: 1.2;
		@include font-size( 1.1 );
	}
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    unicode-range: U+30-39;
}


@import "headings";

@import "copy";
