form#custom-options-form input:not( #submit ) {
	margin-top: 0;
  	width: 85%;
}

.woocommerce #entry_list_form .subsubsub {
	margin: 8px 0 0;
}

table.subscription-settings td.subscription-settings-cell {
	width: 100%;
}

.logo-table #club-gym-logo {
	width: 100%;
	max-width: 250px;
}

#activity-widget #the-comment-list li.comment-item {
	display: flex;
	align-items: flex-start;
}

#activity-widget #the-comment-list li.comment-item img.avatar {
	position: relative;
	top: unset;
	margin-right: 8px;
}

.getresponse-table th {
	padding: 15px 10px;
}

.getresponse-table th, 
.getresponse-table td {
	border: 1px solid rgba(0,0,0,0.1);
}