ul, ol {
	margin: 0 0 1.2rem 0rem;
    padding-left: 2rem;
}

ul {
	list-style: none;
}

ol {
	list-style-type: lower-latin;

	li > ol {
		list-style-type: lower-roman;

		li > ol {
			list-style-type: decimal;
		}
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
    padding-left: 2rem;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
