$transit__1s: transition, all .1s ease-in-out, o moz webkit;
$transit__15s: transition, all .15s ease-in-out, o moz webkit;
$transit__2s: transition, all .2s ease-in-out, o moz webkit;
$transit__25s: transition, all .25s ease-in-out, o moz webkit;
$transit__3s: transition, all .3s ease-in-out, o moz webkit;
$transit__35s: transition, all .35s ease-in-out, o moz webkit;
$transit__4s: transition, all .4s ease-in-out, o moz webkit;