.main-navigation {
	clear: both;
	display: inline-block;
	width: 100%;
	@include prefix( box-shadow, 0 1px 6px 0 rgba(#000, 0.7), webkit moz o );
	button {
		position: absolute;
		top: -4rem;
		left: -15px;
		height: 2.5rem;
		background: transparent;
		border: none;
		z-index: 100;
		.hang-a-bur {
			position: relative;
			display: block;
			width: 38px;
			height: 5px;
			margin: 5px 0;
			opacity: 1;
			background: #000;
			border: 1px solid rgba( #fff, .8 );
			@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
			@include prefix( box-shadow, 0 1px 6px 0 rgba(#000, 0.4), webkit moz o );
			&-top {
				top: 0;
			}
			&-bottom {
				bottom: 0;
			}
		}
		&[aria-expanded="true"] {
			.hang-a-bur-top {
				top: 0.6rem;
				@include prefix( transform, rotate(220deg), webkit moz o );
			}
			.hang-a-bur-mid {
				opacity: 0;
			}
			.hang-a-bur-bottom {
				bottom: 0.6rem;
				@include prefix( transform, rotate(-220deg), webkit moz o );
			}
		}
		&:focus {
			outline: 0;
		}
	}
	> div {

		> ul#primary-menu {
			position: relative;
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
			height: 0;
			top: 0;
			overflow: visible;
			background: rgba( #1e73be, .7 );
			@include prefix( transition, all 0.3s ease-in-out, webkit moz o);

			> li {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 4px 15px;
				@include prefix( transition, all 0.3s ease-in-out, webkit moz o);

				a {
				}

				ul {
					position: absolute;
					display: block;
					list-style: none;
					margin: 0;
					padding: 0;
					opacity: 0;
					overflow: hidden;
					border-radius: 4px;
					top: -15em;
					z-index: -1;
					@include prefix( transition, all 0.3s ease-in-out, webkit moz o);
					@include prefix( box-shadow, 0 1px 6px 0 rgba(#000, 0.4), webkit moz o );

					li {
						padding: 8px;
						background: rgba( #1e73be, .8 );

						a {

						}
					}
				}
			}

			li {
				position: relative;
				
				&:hover {

					ul {
						top: 50px;
						opacity: 1;
						z-index: 999;
					}
				}
			}

			a {
				text-transform: uppercase;
				color: #fbf2b9;
				font-family: $font__main_jose;
				line-height: 1.5;
				font-weight: 800;
				padding: 8px;
				white-space: nowrap;
				@include font-size( 1.1 );
				@include prefix( text-shadow, 1px 1px 4px rgba(#000, .7 ), o moz webkit );
				@include prefix( transition, all 0.3s ease-in-out, webkit moz o);

				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					height: 0;
					width: 100%;
					background: #1e73be;
					@include prefix( transition, all 0.3s ease-in-out, webkit moz o);
				}

				&:hover {
					color: #dad3a2;

					&:after {
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						height: 5px;
						width: 100%;
						background: #1e73be;
					}
				}
			}
			
			.current_page_item > a,
			.current-menu-item > a {
				color: #ded492; 

				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					height: 3px;
					width: 100%;
					background: #1e73be;
				}
			}
		}

		@include media-breakpoint-up( md ) {
			> ul#primary-menu {
				display: flex;
				align-items: center;
				justify-content: space-around;
				background: transparent;


			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	height: initial;
	overflow: visible;
}

@include media-breakpoint-up( md ) {
	.menu-toggle {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/*========================================
=            Cart Menu Styles            =
========================================*/
.cart-column {
	display: flex;
	align-items: center;
	justify-content: center;

	.wonka-badge {
		background: #fbf2b9;
		margin-right: 8px;
		@include font-size( .9 );
		@include prefix( box-shadow, 0 1px 6px 0 rgba(#000, .6 ), o moz webkit );
	}

	#cart-menu {
		display: block;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    height: 0;
	    top: 0;
	    overflow: hidden;

	    li {
	    	position: relative;
	    	display: flex;
	    	align-items: center;
	    	justify-content: center;
		    margin: 8px 0;
		    padding: 1rem 1rem;
		    @include prefix( transition, all 0.2s ease-in-out, webkit moz o);

		    a {
		    	color: #fbf2b9;
				@include font-size(.9);
				padding: 0.5rem 0;
				@include prefix( text-shadow, 1px 1px 4px rgba(#000, .7 ), o moz webkit );

				@media only screen and ( min-width: 768px ) and ( -webkit-min-device-pixel-ratio: 2 ),
				(min-resolution: 192dpi) and ( min-width: 768px ) {
					padding: 0.5rem 0;
				}
		    }

		    &:hover {

		    	a {
		    		color: #ded492;
		    	}
		    }
	    }
	}

    @include media-breakpoint-up( md ) {

    	.wonka-badge {
    	}

    	#cart-menu {
	    	display: flex;
	    	align-items: center;
	    	justify-content: space-between;
	    	width: 100%;
	    	height: inherit;
	    	overflow: visible;
	    	background: none;

	    	li {
	    		margin: 0;
	    		padding: 0;

	    		a {
	    			padding: 0;
    				@include font-size( 1 );
				    line-height: 1.2;

    				i {
    					@include font-size( 1 );
				    	line-height: 1.2;
    				}
	    		}
	    	}
    	}
    }
}
/*=====  End of Cart Menu Styles  ======*/
