table.compare-list tr.add-to-cart td {

  a.button.product_type_variable.add_to_cart_button {
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 100px;
    background: rgba( #52abf6, 1 );
    border: 2px solid #52abf6;
    @include font-size( 1 );
    @include prefix( box-shadow, $box_shadow_4, o moz webkit );
    @include prefix( text-shadow, 1px 1px 3px rgba(#000, 0 ), o moz webkit );
    @include prefix( transition, $trans_25, o moz webkit );
    margin: 10px 3px;
    @include font-size( .8 );
    line-height: .9;
    color: #fff;
    padding-bottom: 0px;
    padding-top: 0px;

    &:visited {
      color: rgba( #fff, .8);
      border: 2px solid #52abf6;
      background: rgba( #52abf6, 1 );
    }
  
    &:hover {
      background: rgba( #78bdf7, 1 );
      border-color: #78bdf7;
      color: rgba(255, 255, 255, 1);
    }
  
    &:active,
    &:focus {
      outline: 0;
      color: rgba(255, 255, 255, 1);
    }
  }
}

// body.home,
// body.archive,
// body.single-product { 

//   a.wonka-btn.compare {
//     width: 100%;
//     margin: 8px 0px;
//   }  
// }

iframe body h1{
  background: #646371;
}

body #yith-woocompare.woocommerce {
  overflow-x: auto;

  thead {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
  display: flex;
}

#colorbox {
  align-self: center!important;
  position: fixed!important;
  top: 30px!important;
  margin: auto!important;
  z-index: 99999;
  // height: 100%!important;
  // display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  
}