div#footer-spacer {
	height: 400px;
	@include prefix( transition, $trans_25, webkit moz o);
}

footer#colophon {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	background: $footer__background;
	color: #bfc0c2;
	z-index: 999;
	@include prefix( box-shadow, $box_shadow_4, o moz webkit );
	@include prefix( transition, $trans_25, webkit moz o);

	a {
		color: #bfc0c2;
	}

	.upper-footer {
		padding: 25px 0 15px 0;

		> div.col {
			margin-bottom: 25px;

			div.col-12 {

				div.footer-insta {
					font-display: $font__main_jose;
					font-weight: 500;
					display: flex;
					justify-content: center;
					display: grid;
					grid-gap: 8px;
					grid-auto-flow: column;
					margin-bottom: 1.2rem;

					@include media-breakpoint( md ) {
						margin-bottom: 1.6rem;
					}
					@include media-breakpoint( lg ) {
						margin-bottom: 1.9rem;
					}
				}

				div.menu-footer-main-container {
					justify-content: end;
				}
			}
		}

		.footer-title {
			color: #bfc0c2;
			@include font-size( .9 );
			@include prefix( text-shadow, 1px 1px 4px rgba( #000, .8 ), o moz webkit );

			@include media-breakpoint( md ) {
			@include font-size( 1.3 );
			}
		}

		.social-components-wrap {
			justify-content: flex-end;
			align-items: center;

			.social-icons-btns {
				margin-bottom: 1.2rem;
				@include font-size( 1.4 );

				a {
					padding: 0 15px 0 15px;
				}
			}

		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}

	.wonka-menu-footer {

			div.col-12 {
				display: flex;
				justify-content: center;

				@include media-breakpoint( lg ) {
					display: unset;
					justify-content: unset;
				}
			}
	}

	
	.wonka-email-form {
		
		.wonka-newsletter-form_wrapper {
			// margin-bottom: 8px;

			form.wonka-newsletter-form {

				.gform_heading {
					display: none;
				}

				.gform_body {
					width: 100%;
					height: 70px;
					
					ul {
						margin: 0;
						padding: 0;

						label {
							display: none;
						}

						li.wonka-form-group {
							margin-bottom: 0;
						}

						div.ginput_container_email {
							width: 100%;
						}

						input[type=email].wonka-form-control {
							color: #bfc0c2;
							background: transparent;
							padding: 8px 15px;
							font-weight: 600;
							width: 100%;
							border-radius: 100px;
							height: 49px;
							letter-spacing: 1px;
							width: 100%;
							@include prefix( transition, $trans_25, webkit moz o);

							&::placeholder {
								font-style: italic;
								font-weight: 300;
								color: #ffffff
							}
						}
					}
				}

				.gform_footer {
					width: 100%;
					height: 70px;

					input[type=submit].wonka-btn {
						display: flex;
						align-items: center;
						justify-content: center;
						font-family: $font__main;
						font-weight: 800;
						color: #ffffff;
						margin-left: 0;
						width: 100%;
						height: 49px;
						border-radius: 100px;
						@include prefix( transition, all 0.3s ease-in-out, webkit moz o);
					}
				}
				@media screen and  ( max-width: 992px ) {
					> .top_label {
						display: none;
					}
				}
			}
		}
		
		small {
			padding-left: 4px;
		}
	}

	.site-info {
		padding-bottom: 15px;

		.footer-logo {

			img {
				position: relative;
			}
		}

		a {
			color: #ffffff;
		}
	}

	.validation_error,
	.validation_message {
		line-height: 1.2;
		@include font-size( .8 );
	}

	@include media-breakpoint( lg ) {
		.wonka-email-form {

			.wonka-newsletter-form_wrapper {

				form.wonka-newsletter-form {

					.gform_body {
						width: 70%;

						ul {

							li {

								input[type=email].wonka-form-control {
									flex: 1 100%;
									border-radius: 100px 0  0 100px;

									&:active,
									&:focus {
										outline: 0;
									}
								}

								div {

									&:active,
									&:focus {
										outline: 0;
									}
								}

								&:active,
								&:focus {
									outline: 0;
								}
							}
						}
					}

					.gform_footer {
						flex: 1 30%;
						margin-left: -3px;

						input[type=submit].wonka-btn {
							border-radius: 0 100px 100px 0;

							&:active,
							&:focus {
								outline: 0;
							}
						}
					}
				}
			}
		}
	}
}