div#footer-spacer {
	height: 400px;
	@include prefix( transition, $trans_25, webkit moz o);
}

footer#colophon {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	background: $footer__background;
	color: #bfc0c2;
	z-index: 999;
	@include prefix( box-shadow, $box_shadow_4, o moz webkit );
	@include prefix( transition, $trans_25, webkit moz o);

	a {
		color: #bfc0c2;
	}

	.upper-footer {
		padding: 15px 0;

		div.col {
			margin-bottom: 15px;
		}

		.footer-title {
			color: #bfc0c2;
			@include font-size( 1.2 );
			@include prefix( text-shadow, 1px 1px 4px rgba( #000, .8 ), o moz webkit );
		}

		.social-components-wrap {
			margin: auto;
			width: 225px;

			.social-icons-btns {
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include font-size( 1.8 );
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		small {
			padding-left: 4px;
		}
	}

	form.wonka-form {

		.gform_heading {
			display: none;
		}

		.gform_body {
			width: 100%;
			
			ul {
				margin: 0;
				padding: 0;

				label {
					display: none;
				}

				input[type=email] {
					color: #bfc0c2;
					background: transparent;
					padding: 8px 15px;
					font-weight: 600;
					width: 100%;
					border-radius: 100px 0 0 100px;
					height: 49px;
					letter-spacing: 1px;
					width: 100%;
					@include prefix( transition, $trans_25, webkit moz o);

					&::placeholder {
						font-style: italic;
						font-weight: 400;
					}
				}
			}
		}

		.gform_footer {
			width: 100%;

			input[type=submit].wonka-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: $font__main;
				font-weight: 800;
				color: #bfc0c2;
				margin-left: 0;
				width: 100%;
				height: 49px;
				border-radius: 0 100px 100px 0;
				@include prefix( transition, all 0.3s ease-in-out, webkit moz o);

				&:hover {
					color: #eeeeee;
					background: #ffe6b2;
					@include prefix( text-shadow, 1px 1px 3px rgba(#000, 0.8 ), o moz webkit );
				}
			}
		}
	}

	.email-form {
		margin: 15px 0;
	}

	.site-info {
		padding-bottom: 15px;
		background: $footer__background_sec;
		color: $footer__background;
		@include prefix( box-shadow, $box_shadow_4, o moz webkit );

		.footer-logo {

			img {
				position: relative;
				top: -20px;	
			}
		}

		a {
			color: #ffffff;
		}
	}

	@include media-breakpoint-up( md ) {
		form.wonka-form {

			.gform_body {
				width: 75%;
			}

			.gform_footer {
				width: 15%;
				margin-left: -3px;
			}
		}
	}
}