/*=========================================
=            front page styles            =
=========================================*/

/*----------  Header Slider  ----------*/
.header-slider-section {
	height: 650px;
	@include prefix( transition, all .3s ease-in-out, o moz webkit );

	.slider-slide {
		width: 100%;
		height: 100%;
	}
	.top-page-slider {
		height: 100%;
		width: 100%;
	}

	.top-page-slide {
		background-position: center 0;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		@include prefix( transition, all .3s ease-in-out, o moz webkit );

		.img-header-text-wrap {
			margin: auto;
			width: 75%;
			height: 100%;
			align-items: center;

			.img-header-text-container {
				display: flex;
				flex-direction: column;

				.set-align-left {
					align-self: flex-start;
				}

				.set-align-center {
					align-self: center;
				}

				.set-align-right {
					align-self: flex-end;
				}

				.text-box {
					color: #ffffff;
					max-width: 425px;
					@include prefix( text-shadow, 1px 1px 4px rgba( #000, .8 ), o moz webkit );

					h2 {
						margin: 0 auto;
						font-weight: 800;
					}
				}
			}	
		}
	}
}
/*----------  End Header Slider  ----------*/

/*----------  Shop Section  ----------*/
.shop-section {
	background: rgba( 255, 255, 255, .9 );
	background-blend-mode: screen;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;


	.woocommerce {
		margin: 30px auto;
		text-align: center;

		&.wonka-columns {

			ul {
				max-width: 1180px;

				li {
					position: relative;
					padding: 0;
					overflow: hidden;

					a {
						color: #333333;

						.onsale {
							position: absolute;
							display: none;
							margin-bottom: 15px;
							background: #eee;
							color: #e81409;
							top: 15px;
							left: 0;
							width: 50%;
							z-index: 50;
							@include prefix( transform, matrix(1.5,-.9,0.5,1.3,-20,10), o moz webkit );
						}

						img {
							margin: 0 auto 15px;
							@include prefix( box-shadow, $box_shadow_4, o moz webkit );
						}

						.woocommerce-loop-product__title {
							@include font-size( 1.3 );
							
						}

						.price {
							color: #e81409;
							@include font-size( 1.3 );

							ins {
								background: transparent;
							}
						}
					}

					a.add_to_cart_button {
						display: none;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}
/*----------  End Shop Section  ----------*/

/*----------  CTA Section  ----------*/
.desirable-slider-section {
	height: 650px;
	@include prefix( transition, all .3s ease-in-out, o moz webkit );

	.cta-section-slider {
		background-position: center 0;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		@include prefix( transition, all .3s ease-in-out, o moz webkit );

		.img-header-text-wrap {
			margin: 11.6% auto 0;
			width: 75%;
			height: 75%;
			align-items: center;

			.img-header-text-container {
				display: flex;
				flex-direction: column;

				.set-align-left {
					align-self: flex-start;
				}

				.set-align-center {
					align-self: center;
				}

				.set-align-right {
					align-self: flex-end;
				}

				.text-box {
					color: #ffffff;
					max-width: 100%;
					@include prefix( text-shadow, 1px 1px 4px rgba( #000, .8 ), o moz webkit );

					h2 {
						white-space: wrap;
						font-weight: 800;
					}

					@include media-breakpoint-up( md ) {
						max-width: 600px;
						white-space: nowrap;
					}
				}
			}	
		}
	}
}
/*----------  End CTA Section  ----------*/

/*----------  Our Cause Section  ----------*/
.our-cause-section {
	max-width: 1180px;
	margin: 15px auto;

	.cause-section-module {
		max-width: 380px;
		margin: 15px auto;
		padding: 0 0 8px;

		.module-component-wrap {

			.img-container {
				margin-bottom: 15px;
				display: flex;
				align-items: center;
				max-width: 380px;
				height: 570px;
				@include prefix( box-shadow, $box_shadow_4, o moz webkit );

				img {
					height: 100%;
					width: auto;
				}
			}

			.cause-title {
				padding: 0 15px;
			}

			.cause-message {
				margin-bottom: 8px;
				padding: 0 15px;
			}
		}
	}
}
/*----------  End Our Cause Section  ----------*/

/*===============================================
=            About the Brand section            =
===============================================*/
.about-brand-section {
	max-width: 1180px;
	margin: 15px auto;

	.about-components-wrap {
		margin: 15px auto;
		max-width: 450px;
	}

	.img-container {
		margin: 15px auto;
		display: flex;
		align-items: center;
		max-width: 380px;
		height: 570px;
		@include prefix( box-shadow, $box_shadow_4, o moz webkit );

		.about-second-image {

		}

	}
}
/*=====  End of About the Brand section  ======*/

/*======================================
=            Social section            =
======================================*/
.social-section {
	margin: 15px auto;
}
/*=====  End of Social section  ======*/

/*=====  End of front page styles  ======*/
