/*=========================================
=            front page styles            =
=========================================*/

/*----------  Header Slider  ----------*/
.header-slider-section {
	height: 650px;
	@include prefix( transition, all .3s ease-in-out, o moz webkit );

	.slider-slide {
		width: 100%;
		height: 100%;
	}
	.top-page-slider {
		height: 100%;
		width: 100%;
	}

	.top-page-slide {
		background-position: center 0;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		@include prefix( transition, all .3s ease-in-out, o moz webkit );

		.img-header-text-wrap {
			margin: auto;
			width: 75%;
			height: 100%;
			align-items: center;
		    max-width: 1200px;

			.img-header-text-container {
				display: flex;
				flex-direction: column;

				.set-align-left {
					align-self: flex-start;
				}

				.set-align-center {
					align-self: center;
				}

				.set-align-right {
					align-self: flex-end;
				}

				.text-box {
					color: #ffffff;
					max-width: 425px;
					@include prefix( text-shadow, 1px 1px 4px rgba( #000, .8 ), o moz webkit );

					h2 {
						margin: 0 auto;
						font-weight: 800;
					}
				}
			}	
		}
	}
}
/*----------  End Header Slider  ----------*/

/*----------  Shop Section  ----------*/
.shop-section {
	background: rgba( 255, 255, 255, .9 );
	background-blend-mode: screen;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin: 15px auto;

	.star-rating {
		display: none;
	}
}
/*----------  End Shop Section  ----------*/

/*----------  CTA Section  ----------*/
.desirable-slider-section {
	height: 650px;
	@include prefix( transition, all .3s ease-in-out, o moz webkit );

	.cta-section-slider {
		background-position: center 0;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		@include prefix( transition, all .3s ease-in-out, o moz webkit );

		.img-header-text-wrap {
			margin: 11.6% auto 0;
			width: 75%;
			height: 75%;
			align-items: center;

			.img-header-text-container {
				display: flex;
				flex-direction: column;

				.set-align-left {
					align-self: flex-start;
				}

				.set-align-center {
					align-self: center;
				}

				.set-align-right {
					align-self: flex-end;
				}

				.text-box {
					color: #ffffff;
					max-width: 100%;
					@include prefix( text-shadow, 1px 1px 4px rgba( #000, .8 ), o moz webkit );

					h2 {
						color: #ffffff;
						white-space: wrap;
						font-weight: 800;
					}

					@include media-breakpoint-up( md ) {
						max-width: 600px;
						white-space: nowrap;
					}
				}
			}	
		}
	}
}
/*----------  End CTA Section  ----------*/

/*----------  Our Cause Section  ----------*/
.our-cause-section {
	max-width: 1180px;
	margin: 15px auto;

	.cause-section-module {
		max-width: 380px;
		margin: 15px auto;
		padding: 0 0 8px;

		.module-component-wrap {

			.img-container {
				margin-bottom: 15px;
				display: flex;
				align-items: center;
				max-width: 380px;
				height: auto;
				@include prefix( box-shadow, $box_shadow_4, o moz webkit );

				img {
					height: auto;
					width: auto;
				}

				@include media-breakpoint-up( md ) {
					height: 570px;

					img {
						height: 100%;
					}
				}
			}

			.cause-title {
				padding: 0 15px;
			}

			.cause-message {
				margin-bottom: 8px;
				padding: 0 15px;
			}
		}
	}
}
/*----------  End Our Cause Section  ----------*/

/*===============================================
=            About the Brand section            =
===============================================*/
.about-brand-section {
	max-width: 1180px;
	margin: 15px auto;

	.about-components-wrap {
		margin: 15px auto;
		max-width: 450px;
	}

	.img-container {
		margin: 15px auto;
		display: flex;
		align-items: center;
		max-width: 380px;
		height: auto;
		@include prefix( box-shadow, $box_shadow_4, o moz webkit );

		.about-second-image {

		}

		@include media-breakpoint-up( md ) {
			height: 570px;
		}
	}

	.about-brand-video {

		iframe {
			width: 560px;
			height: 250px;
		}
	}
}
/*=====  End of About the Brand section  ======*/

/*======================================
=            Social section            =
======================================*/
.social-section {
	margin: 15px auto;
}
/*=====  End of Social section  ======*/

/*=====  End of front page styles  ======*/
