/*=========================================
=            front page styles            =
=========================================*/
.home {

	video.cta-slide {
		position: absolute;
		object-fit: cover;
		height: 100%;
		width: 100%; 
		min-height: 100%;
	}
	
	section {

		p.price,
		span.price {
			font-family: $font__main_jose;
		}

		a.button.product_type_variable {
			display: none;
		}
	}
}
/*----------  Header Slider  ----------*/
section.header-slider-section {
	position: relative;
	height: 650px;
	@include prefix( transition, $trans_1, o moz webkit );

	.top-page-slider-wrap {
		position: relative;
	    height: 100%;
	    width: 100%;

		.top-page-slide {
			position: relative;
			display: none;
			width: 100%;
			height: 100%;
			@include prefix( transition, $trans_1, o moz webkit );

			div.top-slide-img-holder {
				background-position: center .5vh;
				background-repeat: no-repeat;
				@include prefix( background-size, cover, o moz webkit );
				width: 100%;
				height: 100%;

				.img-header-text-wrap {
					margin: auto;
					width: 100%;
					height: 100%;
					align-items: center;
				    max-width: 1200px;

					.img-header-text-container {
						display: flex;
						flex-direction: column;
						top: 10%;

						.set-align-left {
							align-self: flex-start;
						}

						.set-align-center {
							align-self: center;

						}

						.set-align-right {
							align-self: flex-end;
						}

						.text-box {
							font-weight: bold;
							color: #fffcfc;
							max-width: 1200px;
							@include prefix( text-shadow, 1px 1px 2px rgba( #000, .8 ), o moz webkit );

							h2 {
								margin: 0 auto;
								font-weight: 800;
								line-height: 1;
								letter-spacing: 4px;
								margin-bottom: 8px;
								@include font-size( 1.5 );
							}
							h4 {
								font-weight: normal;
								font-style: normal;
								line-height: 1;
								letter-spacing: 2px;
								margin-bottom: 15px;
								white-space: nowrap;
								@include font-size( 1.1 );
							}

							.img-head-slider-link {
								text-shadow: none;
							}
						}
					}	
				}

				@include media-breakpoint( ipx ) {
					
					.img-header-text-wrap {

						.img-header-text-container {
							
							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 1.2 );
								}

								h4 {
									line-height: 1.1;
									@include font-size( 1.1 );
								}
							}
						}
					}	
				}

				@include media-breakpoint( ip8 ) {
					
					.img-header-text-wrap {

						.img-header-text-container {
							
							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 1.2 );
								}

								h4 {
									line-height: 1.1;
									@include font-size( 1.1 );
								}
							}
						}
					}	
				}

				@include media-breakpoint( ip8p ) {
					
					.img-header-text-wrap {

						.img-header-text-container {
							
							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 1.7 );
								}

								h4 {
									line-height: 1.1;
									@include font-size( 1.1 );
								}
							}
						}
					}	
				}

				@include media-breakpoint( md ) {

					.img-header-text-wrap {

						.img-header-text-container {

							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 2.5 );
								}

								h4 {
									line-height: 1.1;
									@include font-size( 1.5 );
								}
							}
						}
					}	
				}

				@include media-breakpoint( lg ) {
							
					.img-header-text-wrap {

						.img-header-text-container {
							
							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 2.8 );
								}

								h4 {
									line-height: 1.1;
									@include font-size( 1.8 );
								}
							}
						}
					}
				}

				@include media-breakpoint( xl ) {
					
					.img-header-text-wrap {

						.img-header-text-container {
							
							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 3.2 );
								}

								h4 {
									line-height: 1.1;
									@include font-size( 2.2 );
								}
							}
						}
					}	
				}
			}

			&:first-child {
				display: block;
			}
		}

		.slick-list {
			position: relative;
			height: 100%;

			.slick-track {
				height: 100%;
				
				.top-page-slide {
					display: block;
				}
			}
		}
	}
}
/*----------  End Header Slider  ----------*/

/*----------  Shop Section  ----------*/
section.shop-section {
	background: rgba( 255, 255, 255, .9 );
	background-blend-mode: screen;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 15px 0;

	.wonka-row {
		margin: 15px auto;
		width: 1180px;
		max-width: 100%;
	}

	.star-rating {
		display: none;
	}
}
/*----------  End Shop Section  ----------*/

/*----------  CTA Section  ----------*/
section.desirable-slider-section {
	position: relative;
	height: 650px;
	@include prefix( transition, $trans_1, o moz webkit );

	.cta-section-slider-wrap {
		position: relative;
    height: 100%;
    width: 100%;

		.cta-section-slide {
			position: relative;
			display: none;
			width: 100%;
			height: 100%;
			@include prefix( transition, $trans_1, o moz webkit );

			video.cta-slide {
				position: absolute;
				object-fit: cover;
				height: 100%;
			 	width: 100%; 
				min-height: 100%;
			}

			div.cta-slide-img-holder {
				background-position: center .5vh;
				background-repeat: no-repeat;
				@include prefix( background-size, cover, o moz webkit );
				width: 100%;
				height: 100%;

				.img-header-text-wrap {
					position: relative;
					margin: auto;
					width: 100%;
					height: 100%;

					.img-header-text-container {
						margin: auto;
						margin-bottom: 15%;
						display: flex;
						flex-direction: column;

						.set-align-left {
							align-self: flex-start;
						}

						.set-align-center {
							align-self: center;
						}

						.set-align-right {
							align-self: flex-end;
						}

						.text-box {
							color: #ffffff;
							max-width: 100%;

							h2 {
								color: #ffffff;
								font-weight: 800;
								@include prefix( text-shadow, 1px 1px 2px rgba( #000, .8 ), o moz webkit );
							}

							@include media-breakpoint( md ) {
								max-width: 1200px;
								white-space: nowrap;
							}
						}
					}	
				}

				@include media-breakpoint( ipx ) {

					.img-header-text-wrap {

						.img-header-text-container {
							
							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 1.2 );
								}
							}
						}
					}
				}

				@include media-breakpoint( ip8 ) {

					.img-header-text-wrap {

						.img-header-text-container {
							
							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 1.2 );
								}
							}
						}
					}		
				}

				@include media-breakpoint( ip8p ) {

					.img-header-text-wrap {

						.img-header-text-container {
							
							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 1.2 );
								}
							}
						}
					}		
				}

				@include media-breakpoint( md ) {

					.img-header-text-wrap {

						.img-header-text-container {
							
							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 2.5 );
								}
							}
						}
					}

				}

				@include media-breakpoint( lg ) {

					.img-header-text-wrap {

						.img-header-text-container {

							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 2.8 );
								}
							}
						}
					}	
				}

				@include media-breakpoint( xl ) {

					.img-header-text-wrap {

						.img-header-text-container {
							
							.text-box {

								h2 {
									line-height: 1.1;
									@include font-size( 3.2 );
								}
							}
						}
					}		
				}
			}

			&:first-child {
				display: block;
			}
		}

		.slick-list {
			position: relative;
			height: 100%;

			.slick-track {
				height: 100%;
				
				.cta-section-slide {
					display: block;
				}
			}
		}
	}
}
/*----------  End CTA Section  ----------*/

/*----------  Our Cause Section  ----------*/
section.our-cause-section {
	margin: 0;
	padding: 15px 0;

	.wonka-row {
		margin: 15px auto;
		width: 1200px;
		max-width: 100%;
	}

	.cause-section-module {
		max-width: 380px;
		margin: 15px auto;
		padding: 0 0 8px;

		.module-component-wrap {

			.img-container {
				margin: 0 auto 15px;
				display: flex;
				align-items: center;
				max-width: 300px;
				height: auto;
				@include prefix( box-shadow, $box_shadow_4, o moz webkit );

				img {
					height: 550px;
					width: 370px;
				}
			}

			.cause-title {
				padding: 0 15px;
			}

			.cause-message {
				margin-bottom: 8px;
				padding: 0 15px;
			}

			@include media-breakpoint( md ) {

				.img-container {
					max-width: 380px;
				}
			}	
		}
	}
}
/*----------  End Our Cause Section  ----------*/

/*===============================================
=            About the Brand section            =
===============================================*/
/* The animation code */
@keyframes wiggle {
  0%   {transform: rotate(-15deg);}
  25%  {transform: rotate(15deg);}
  50%  {transform: rotate(-15deg);}
  100% {transform: rotate(0deg);}
}

div.modal-backdrop {
	background-color: rgba( #fff, 1 );

	&.show {
		opacity: .7;
	}
}

section.about-brand-section {
	margin: 0;
	padding: 15px 0;
	background: #f0f0f0;
	@include prefix( box-shadow, $box_shadow_4, o moz webkit );

	.wonka-row {
		margin: 15px auto;
		width: 1200px;
		max-width: 100%;
	}

	.about-components-wrap {
		margin: 15px auto;
		max-width: 450px;
	}

	div.img-container {
		margin: 15px auto;
		display: flex;
		align-items: center;
		width: 450px;
		max-width: 100%;
		max-height: 520px;
		height: auto;
		overflow: hidden;
		@include prefix( box-shadow, $box_shadow_4, o moz webkit );

		.about-second-image {
			width: auto;
			height: auto;
		}
	}

	.about-brand-video {
		max-height: 250px;
		display: flex;
		align-items: center;
		justify-content: center;

		a.video-img-link {
			position: relative;
			max-width: 100%;
			height: 250px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-height: 100%;
			}

			span.video-img-symbol-link {
				position: absolute;
				color: #52abf6;
				@include font-size( 5 );
				@include prefix( text-shadow, 1px 1px 3px rgba(#000, .9 ), o moz webkit );
				@include prefix( transition, $trans_25, o moz webkit );

				&:hover {
					color: #78bdf7 !important;
					animation-name: wiggle;
				  	animation-duration: .4s;
				}
			}
		}
	}
}

section.our-cause-section,
section.about-brand-section {

	div#videoModal, div#videoModalpop {
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		padding-right: 0 !important;
		z-index: 99999;
		overflow-y: scroll;
		@include prefix( transition, $trans_25, o moz webkit );

		&.show {
			display: flex !important;
		}

		div.modal-dialog {
			height: 100%;
			width: 100%;
			max-width: 1200px;
			margin: auto;
			padding: 25px;
			display: flex;
			align-items: center;
			justify-content: center;

			div.modal-content {
				position: relative;
				margin: auto;
				width: 100%;
				max-width: 1200px;
				padding: 0;
				background-color: transparent;
				@include prefix( transition, $trans_25, o moz webkit );
				
				div.modal-body {
					padding: 0;
					width: 100%;
					overflow: visible;
					@include prefix( box-shadow, $box_shadow_4, o moz webkit );


					button.close {
						position: absolute;
						top: -25px;
						right: -15px;
						z-index: 9999;
						display: flex;
						align-items: center;
						justify-content: center;
						background: transparent;
						border-radius: 50%;
						height: 25px;
						width: 25px;
						color: #222222;
						border: 2px solid rgba( #222222, 1);
						box-sizing: border-box;
						@include prefix( transition, $trans_25, o moz webkit );
						@include prefix( box-shadow, $box_shadow_4, o moz webkit );

						span {
							line-height: 1;
							@include prefix( text-shadow, 1px 1px 3px rgba(#000, .9 ), o moz webkit );
							@include font-size( 1.3 );
						}

						&:hover {
							animation-name: wiggle;
								animation-duration: .4s;						}
					}
				}
			}
		}
	}
}
/*=====  End of About the Brand section  ======*/

/*======================================
=            Apera Perks section            =
======================================*/
section.perks-section {

	.row-perks {

		.col-perks-content {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
		}
		.col-perks-image {

		}
	}
}
/*=====  End of Apera Perks section  ======*/

/*======================================
=            Social section            =
======================================*/
section.social-section {
	margin: 0;
	padding: 15px 0;

	.wonka-row {
		margin: 15px auto;
		width: 1500px;
		max-width: 100%;
	}
}
/*=====  End of Social section  ======*/

body.home {

	a.wonka-btn {
		margin: 15px auto;
	}

	.slick-slider {
		overflow: hidden;

		&:hover {

			.slick-prev {
				left: 0;
			}

			.slick-next {
				right: 0;
			}
		}
	}
}
/*=====  End of front page styles  ======*/
