/*=====================================
=            Topbar styles            =
=====================================*/
.topbar-notice {
	position: relative;
	color: #ffffff;
	height: 30px;
	@include prefix( box-shadow, $box_shadow_6, o moz webkit );

	> div {
		display: flex;
		align-items: center;
		justify-content: center;

		span.topbar-message-text {
			@include font-size( .8 );
		}
	}
}
/*=====  End of Topbar styles  ======*/

/*==================================================
=            header branding and navbar            =
==================================================*/
.site-header {
	position: absolute;
	height: 105px;

	.brand-nav-bar {
		display: flex;
		align-items: center;
		justify-content: space-around;

		.site-branding {

			img {
				padding: 15px;
			}
		}

		nav {

			#primary-menu {

				.nav-menu {
					display: flex;
					align-items: center;
					justify-content: space-around;
					
					a {
						color: #ffffff;
						@include font-size( 1.5 );
						@include prefix( text-shadow, 1px 1px 4px rgba( #000, .8 ), o moz webkit );
					}
				}
			}
		}
	}
}
/*=====  End of header branding and navbar  ======*/