/*=====================================
=            Topbar styles            =
=====================================*/
.topbar-notice {
	position: relative;
	color: #ffffff;
	height: 30px;
	@include prefix( box-shadow, $box_shadow_6, o moz webkit );

	> div {
		display: flex;
		align-items: center;
		justify-content: center;

		span.topbar-message-text {
			@include font-size( .8 );
		}
	}
}
/*=====  End of Topbar styles  ======*/

/*==================================================
=            header branding and navbar            =
==================================================*/
.site-header {
	position: absolute;
	height: 130px;

	.brand-nav-bar {
		display: flex;
		align-items: center;
		justify-content: space-around;

		.site-branding {

			img {
				-webkit-filter: drop-shadow( 1px 1px 2px rgba(#000, .6 ));
				filter: drop-shadow( 1px 1px 2px rgba(#000, .6 ) );
				padding: 15px;
			}
		}
	}
}

.single-product {

	.site-header {
		position: relative;
		background: #646371;
		margin-bottom: 15px;
	}
}
/*=====  End of header branding and navbar  ======*/