.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}
/*=====================================
=            Topbar styles            =
=====================================*/
.topbar-notice {
	position: relative;
	color: #ffffff;
	height: 30px;
	@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, 0.6 ), o moz webkit );

	> div {
		display: flex;
		align-items: center;
		justify-content: center;

		span.topbar-message-text {
			@include font-size( .8 );
		}
	}
}
/*=====  End of Topbar styles  ======*/

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*==================================================
=            header branding and navbar            =
==================================================*/
.brand-nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
/*=====  End of header branding and navbar  ======*/
