.sticky {
	display: block;
}

#page {
	position: relative;
	min-height: 100%;
}

#content {
	@include prefix( transition, $trans_25, o moz webkit );
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

section {
	margin: 30px auto;
}