.sticky {
	display: block;
}

#page {
	position: relative;
	min-height: 100%;
}

#content {
	margin: 0;
	padding: 0;
	@include prefix( transition, $trans_25, o moz webkit );

	main#main {
		max-width: 1200px;
		margin: 15px auto;
		padding: 0 15px;

		.woocommerce {

			a.button.wc-forward,
			a.button.wc-backward,
			a.restore-item,
			a.showlogin,
			button.button {
				border-radius: 100px;
				border: 2px solid #FFE6B2;
				padding: 4px 8px;
				white-space: nowrap;

			    &:hover {
			    	border: 2px solid #FFE6B2;
			    	background: #FFE6B2;
					color: rgba(255, 255, 255, .8);
					@include prefix( text-shadow, 1px 1px 3px rgba(#000, .9 ), o moz webkit );
			    }
			}
		}
	}

	.main-shop-instagram {
		max-width: 1350px;
	}

	.main-contact-us {

		.entry-title {
			display: none;
		}
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

section {

	&.error-404 {
		max-width: 1180px;
	}
}

body.search {

	article.product {
		margin-bottom: 15px;
	}
}

#searchform {
	margin: 15px;

	input#s {
		margin-left: -3px;
		border-radius: 100px 100px 0 0;
		border-width: 3px;
		padding: 8px;
		line-height: 1.1;
		@include font-size( 1.1 );

		&::placeholder {
			font-style: italic;
		}
	}

	button.wonka-btn {
		border-radius: 0 0 100px 100px;
		padding: 8px;
		line-height: 1.1;
		@include font-size( 1.1 );
	}

	@include media-breakpoint-up( md ) {

		input#s {
			border-radius: 100px 0 0 100px;
		}

		button.wonka-btn {
			border-radius: 0 100px 100px 0;
		}
	}
}

/*=====================================
=            Search styles            =
=====================================*/
/* The overlay effect with black background */
.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 100%;
	opacity: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
	@include prefix( transition, $trans_25, o moz webkit );
}

/* The content */
.overlay-content {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
	@include prefix( transition, $trans_25, o moz webkit );

	form#searchform {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;

		/* Style the search field */
		input[type=text] {
			width: 100%;
			padding: 13px;
			@include font-size( 1.1 );
			@include prefix( transition, $trans_25, o moz webkit );
		}

		input[type=text]:hover {
			background: #f1f1f1;
		}

		button {
			width: 100%;
			margin-top: -2px;
			margin-left: 0;
			@include prefix( transition, $trans_25, o moz webkit );
		}

		@include media-breakpoint-up( md ) {
			width: 65%;

			input[type=text] {
					width: 50%;
				}
			button {
						width: auto;
						margin-top: 0;
						margin-left: -2px;
					}
		}
	}
}

/* Close button */
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
	@include prefix( transition, $trans_25, o moz webkit );
}

.overlay .closebtn:hover {
	color: #ccc;
}

div.wonka-gform_wrapper {

	label.gfield_label {
		display: none;
	}

	ul.gform_fields {
		list-style: none;
		margin: 0;
		padding: 0;

		li.wonka-form-control {
			border: none;
		}
	}
}
/*=====  End of Search styles  ======*/
