body.search-results {

	.wonka-search-header {
		margin-bottom: 15px;
	}

	content.wonka-row {
		position: relative;
		padding: 0 8px;
		
		.wonka-search-title {
			height: 35px;

			a {
				display: block;
				color: #333333;
				@include font-size( 1 );
				line-height: 1.1;

				&:hover {
					color: #666666;
				}

			}
		}

		.wonka-search-excerpt {
			margin: 0;
			height: 125px;

			p {
				margin: 0;
				padding: 0;
			}
		}
		
		@include media-breakpoint( sm ) {

			.wonka-search-title {
				height: 40px;

				a {
					@include font-size( 1.1 );
					line-height: 1.1;
				}
			}

			.wonka-search-excerpt {
				height: 80px;
			}
		}

		@include media-breakpoint( md ) {

			.wonka-search-title {
				height: 40px;

				a {
					@include font-size( 1.2 );
					line-height: 1.1;
				}
			}

			.wonka-search-excerpt {
				height: 125px;
			}
		}

		@include media-breakpoint( lg ) {

			.wonka-search-title {
				height: 25px;

				a {
					@include font-size( 1.2 );
					line-height: 1.1;
				}
			}

			.wonka-search-excerpt {
				height: 90px;
			}
		}
	}

	.wonka-search-footer {
		padding: 0 8px;

		.wonka-row {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin: auto;
			padding: 15px 0;

			.comments-link {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.edit-link {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}