form.wonka-gform.wonka-zip-form {

	ul.gform_fields {
		display: grid;
		grid-auto-columns: 1fr 1fr;
		grid-auto-flow: row;
		grid-gap: 15px;

		ul.gfield_radio {
			list-style: none;
			margin: 0;
			padding: 8px;
		}

		li.zip-name {
			grid-area: 1 / 1 / 2 / 3;

			> div {
				display: grid;
				grid-auto-columns: auto;
				grid-auto-flow: column;
				grid-gap: 15px;
			}
		}

		li.zip-email {
			grid-area: 2 / 1 / 3 / 2;
		}

		li.zip-phone {
			grid-area: 2 / 2 / 3 / 3;
		}

		li.zip-feedback {
			grid-column-start: 1;
			grid-column-end: 3;

			textarea.textarea {
				height: 100px;
			}
		}
	}

	[type=radio] {
		margin: auto 8px;
	}

	.gform_validation_container {
		display: none;
	}

	.gform_footer {
		display: grid;
		align-items: center;
		justify-content: center;
	}
}